body {
  font-family: Helvetica, Arial, sans-serif;
}

#title {
  color: black;
  font-size: 20px;
  /*background-color: white;*/
}

.M {
  background-color: black;
  color: white;
  padding: 1px;
  margin: 1px;
}

#main-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

#controls {
  /*border: 6px solid #666;*/
  border: 6px solid black;
  /*background-color: #eee;*/ /* Now that I'm using .M, the control panel looks much better with a white background */
}

#metro-map {
  border: 2px solid black;
}

div#toolbox {
  text-align: center;
}

#toolbox button {
  display: block;
  margin: 3px;
  width: 100%;
  color: #fff;
}

.btn {
  text-align: left;
}

#grid {
  display: flex;
  cursor: crosshair;
  z-index: 99;
  opacity: .25;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* Prevents intermittent drag-and-drop that would happen on squares */
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.temp-no-flex-firefox {
  /* Temporarily disable display: flex
    so that Firefox doesn't crash,
    then re-enable it
  */
  display: none !important;
}

#canvas-container {
  padding-left: 6px;
  padding-top: 6px;

  overflow: scroll;
}

#metro-map-canvas {
  z-index: -99;
  width: 100%;
  height: auto;
}

.grid-col {
  border: 1px solid;
  border-color: #80CEFF;
  width: 12px;
  height: 12px;
  background-color: transparent !important;
}

.grid-col:hover {
  background-color: green !important;
}

#grid.hide-gridlines .grid-col {
  border-color: transparent;
}

button {
  /* This makes lighter-colored rail line buttons (and every other button, really) easier to read */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button.rail-line {
  height: 48px;
  text-align: center;
}

#rail-line-bd1038 {
  background-color: #bd1038;
}

#rail-line-df8600 {
  background-color: #df8600;
}

#rail-line-f0ce15 {
  background-color: #f0ce15;
}

#rail-line-00b251 {
  background-color: #00b251;
}

#rail-line-0896d7 {
  background-color: #0896d7;
}

#rail-line-662c90 {
  background-color: #662c90;
}

#rail-line-a2a2a2 {
  background-color: #a2a2a2;
}

#rail-line-new {
  background-color: #ff8e88;
}

#rail-line-delete {
  background-color: #fc3700;
  height: 48px;
}

#create-new-rail-line {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#autosave-indicator {
  margin-top: 10px;
  height: 16px;
}

/*.station {
  outline: 1px solid black;
  border: 3px solid white;
  width: 150%;
  height: 150%;
  position: relative;
  left: -25%;
  top: -25%;
  background-color: transparent !important;
}

.transfer-station {
  outline: 3px solid black;
  border: 9px solid white;
  width: 300%;
  height: 300%;
  position: relative;
  left: -100%;
  top: -100%;
}*/

#station-name {
  font-weight: bold;
  padding-left: 5px;
}

#station-name-orientation {
  width: 100%;
  margin: 3px;
}

hr {
  border-top: 1px solid #666;
}

.active {
  border-color: #ffff00;
}

@media (max-width: 767px) {
  #controls {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  #controls {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 5px;
  }
  .tooltip, .tooltip span {
    position: fixed;
  }
  #zoom-in-container {
    padding-right: 0;
  }
  #zoom-out-container {
    padding-left: 0;
  }
}