{% extends "base.html" %}

{% load humanize %}

{% block breadcrumbs %}
    {{ block.super }}
        {% if previous_month %}
            <li class="navbar-text nav-item">
                <a href="{% url 'calendar-month' previous_month|date:"Y" previous_month|date:"m" %}" class="nav-link nav-previous">
                    <i class="bi bi-arrow-left-circle"></i> {{ previous_month|date:"F Y" }}
                </a>
            </li>
        {% endif %}

        {% if previous_month and next_month %}
            <span class="fs-3 navbar-text nav-item">|</span>
        {% endif %}

        {% if next_month %}
            <li class="navbar-text nav-item">
                <a href="{% url 'calendar-month' next_month|date:"Y" next_month|date:"m" %}" class="nav-link nav-next">
                    {{ next_month|date:"F Y" }} <i class="bi bi-arrow-right-circle"></i>
                </a>
            </li>
        {% endif %}
{% endblock breadcrumbs %}

{% block content %}

    <h3 class="visible-xs styling-redline bg-styled p-3">{{ month|date:"F Y" }} ({{ maps_count|intcomma }} maps)</h3>

    <div id="list" class="visible-xs">
        <table class="table table-striped table-light align-middle">
            <tbody>
                {% for map in maps %}
                    <tr>
                        <th scope="col">
                            <a href="{% url 'calendar-day' map.day|date:'Y' map.day|date:'m' map.day|date:'d' %}">{{ map.day|date:"F j, Y" }}</a>
                        </th>
                        <td>
                            <a href="{% url 'calendar-day' map.day|date:'Y' map.day|date:'m' map.day|date:'d' %}">{{ map.maps|intcomma }} maps</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="calendar" class="hidden-xs">
        {{ calendar|safe }}
    </div>

{% endblock content %}
