{% extends "base.html" %}

{% load humanize %}

{% block breadcrumbs %}
    {{ block.super }}

    <li class="navbar-text nav-item">
        <a href="{% url 'calendar' %}" class="nav-link">Maps by Date</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}

    {% if showing_best %}
        <h3 class="card-title mt-2 p-3 bg-styled styling-redline text-center">
            Highest-Rated Maps
        </h3>
        {% include "pagination.html" %}
    {% endif %}

    <div class="row">
        {% for map in maps %}

        {% if not showing_best %}
            {% ifchanged map.created_at.date %}

                <h3 class="card-title mt-2 p-3 styling-redline text-center">
                    <a class="text-outline bg-styled" href="{% url 'calendar-day' map.created_at|date:'Y' map.created_at|date:'m' map.created_at|date:'j' %}">Maps created on {{ map.created_at|date:"F j, Y" }}</a>
                </h3>

            {% endifchanged %}
        {% endif %}

        <div class="col-sm-6 col-md-4 col-xxl-3 mb-3 mt-3"><div class="card h-100 text-center">
            <div class="card-header styling-{% cycle 'red' 'orange' 'yellow' 'green' 'blue' 'purple' 'silver' %}line">
                <h2 class="card-title mt-2">
                    <a class="text-outline bg-styled" href="{% url 'home_map' map.urlhash %}">Map #{{ map.id|intcomma }}: {{ map.urlhash }}</a>
                </h2>
            </div>
            <div class="card-body d-flex flex-column text-center p-0">
                {% if map.thumbnail_svg or map.thumbnail_png %}
                    <a href="{% url 'rate' map.urlhash %}" class="flex-grow-1 align-self-center d-flex">
                {% else %}
                    <a href="{% url 'home_map' map.urlhash %}" class="flex-grow-1 align-self-center d-flex">
                {% endif %}
                    {% if map.thumbnail_svg and map.thumbnail_png and map.thumbnail_svg.size > 5000 and map.thumbnail_png.size <  map.thumbnail_svg.size %}
                        <img src="{{ map.thumbnail_png.url }}" class="mx-auto" alt="{{ map.name }}" title="{{ map.name }}" width="120" height="120">
                    {% elif map.thumbnail_svg %}
                        <img src="{{ map.thumbnail_svg.url }}" class="mx-auto" alt="{{ map.name }}" title="{{ map.name }}" width="120" height="120">
                    {% elif map.thumbnail_png %}
                        <img src="{{ map.thumbnail_png.url }}" class="mx-auto" alt="{{ map.name }}" title="{{ map.name }}" width="120" height="120">
                    {% else %}
                        <div class="align-self-center">(Thumbnail being generated, please check back soon)</div>
                    {% endif %}
                </a>

                <a href="{% url 'home_map' map.urlhash %}">
                    {% if map.name %}
                        <h4>{{ map.name }}</h4>
                    {% else %}
                        <h4>(No name)</h4>
                    {% endif %}
                </a>

                <div class="card-footer d-flex justify-content-evenly">
                    <a href="{% url 'home_map' map.urlhash %}"><i class="bi bi-tools"></i> Remix</a>
                    <a href="{% url 'rate' map.urlhash %}"><i class="bi bi-heart"></i> {% if map.likes %}{{ map.likes }}{% else %}Rate{% endif %}</a>
                    {% if map.svg %}
                        <a href="{{ map.svg.url }}" download="metromapmaker-{{ map.urlhash }}.svg"><i class="bi bi-file-earmark-image"></i> SVG (Print)</a>
                    {% endif %}
                    {% if map.png %}
                        <a href="{{ map.png.url }}" download="metromapmaker-{{ map.urlhash }}.png"><i class="bi bi-file-earmark-image"></i> PNG (Share)</a>
                    {% endif %}
                </div>
            </div>
        </div></div>
        {% endfor %}
    </div>

    <hr>

    {% include "pagination.html" %}

{% endblock content %}