{% extends "base.html" %}

{% load humanize %}

{% block title %}Maps by Day - Metro Map Maker{% endblock title %}

{% block breadcrumbs %}

    {{ block.super }}

    <li class="navbar-text nav-item">
        <a href="{% url 'calendar-week' day|date:'Y' day|date:'W' %}" class="nav-link">Maps this Week</a>
    </li>

    {% if previous_day %}
        <li class="navbar-text nav-item">
            <a href="{% url 'calendar-day' previous_day|date:'Y' previous_day|date:'m' previous_day|date:'d' %}" class="nav-link nav-previous">
                <i class="bi bi-arrow-left-circle"></i> {{ previous_day|date:"F j, Y" }}
            </a>
        </li>
    {% endif %}

    {% if previous_day and next_day %}
        <span class="navbar-text nav-item">|</span>
    {% endif %}

    {% if next_day %}
        <li class="navbar-text nav-item">
            <a href="{% url 'calendar-day' next_day|date:'Y' next_day|date:'m' next_day|date:'d' %}" class="nav-link nav-next">
                {{ next_day|date:"F j, Y" }} <i class="bi bi-arrow-right-circle"></i>
            </a>
        </li>
    {% endif %}

{% endblock breadcrumbs %}

{% block content %}

    <h3 class="styling-redline bg-styled p-3 text-center" style="margin-left: -0.75rem; margin-right: -0.75rem;">
        {{ day|date:"F d, Y" }}
        {% if page_obj.has_previous or page_obj.has_next %}
            ({{ maps.count|intcomma }} of {{ page_obj.paginator.count|intcomma }} maps)
        {% else %}
            ({{ maps.count|intcomma }} maps)
        {% endif %}
    </h3>

    {% include "pagination.html" %}

    {% if date_estimate_disclaimer %}
        <div class="alert alert-info" role="alert">
            <p>
              Although Metro Map Maker officially launched in September 2017,
              I didn't include a <code>created_at</code> field on maps until September 13, 2018.
            </p>
            <p>
                I made efforts to determine how many maps had been created by those dates based on historical records, but they're only estimates based on the known number of maps on a certain date.
            </p>
            <p>
                For example, there were 606 maps created by April 11, 2018 (218 days since launch), so I divided those 606 maps roughly evenly across all 218 days.
            </p>
        </div>
    {% endif %}

    <div class="row">
        {% for map in maps %}
            {% cycle 'red' 'orange' 'yellow' 'green' 'blue' 'purple' 'silver' as cycle_color silent %}
            {% include "map_saver/map_card.html" with map=map cycle_color=cycle_color %}
        {% endfor %}
    </div>

    <hr>

    {% include "pagination.html" %}

{% endblock content %}
