{% extends "base.html" %}

{% load humanize %}

{% block breadcrumbs %}
    {{ block.super }}

    <li class="navbar-text nav-item">
        <a href="{% url 'calendar' %}" class="nav-link">Maps by Date</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}

    {% if showing_best or showing_city %}
        <h3 class="card-title mt-2 p-3 bg-styled styling-redline text-center">
            {% if showing_best %}Highest-Rated Maps
            {% elif showing_city %}{{ page_obj.paginator.count|intcomma }} Maps of {{ showing_city|title }}
            {% endif %}
        </h3>
        {% include "pagination.html" %}
    {% endif %}

    <div class="row">
        {% for map in maps %}

        {% if not showing_best and not showing_city %}
            {% ifchanged map.created_at.date %}

                <h3 class="card-title mt-2 p-3 styling-redline text-center">
                    <a class="text-outline bg-styled" href="{% url 'calendar-day' map.created_at|date:'Y' map.created_at|date:'m' map.created_at|date:'j' %}">Maps created on {{ map.created_at|date:"F j, Y" }}</a>
                </h3>

            {% endifchanged %}
        {% endif %}

        {% cycle 'red' 'orange' 'yellow' 'green' 'blue' 'purple' 'silver' as cycle_color silent %}
        {% include "map_saver/map_card.html" with map=map cycle_color=cycle_color %}
        {% endfor %}
    </div>

    <hr>

    {% include "pagination.html" %}

{% endblock content %}