{% extends "base.html" %}

{% load humanize %}

{% block breadcrumbs %}

    {{ block.super }}

    <li class="navbar-text nav-item">
        <a href="{% url 'calendar-day' map.created_at|date:'Y' map.created_at|date:'m' map.created_at|date:'d' %}" class="nav-link">Browse more maps from this date</a>
    </li>

    <!-- TODO/N2H: Add "Similar Maps" -->

{% endblock breadcrumbs %}

{% block content %}

    <div class="container-fluid">

        <h3 class="card-title mt-2 p-3 styling-redline text-center">
            <a class="text-outline bg-styled" href="{% url 'home' %}?map={{ map.urlhash }}">Map #{{ map.id }}: {{ map.urlhash }} ({{ map.created_at|date:'F j, Y' }})</a>
        </h3>
        <div class="d-flex justify-content-evenly align-items-center m-3">
            {% if map.svg %}

                <form action="{% url 'rate' map.urlhash %}" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" class="csrf_token">
                    {{ form_like }}
                    <button type="submit" class="btn bg-styled styling-redline w-100 fs-4">
                        {% if map.likes %}
                            <i class="bi bi-heart"></i> {{ map.likes|intcomma }} Likes
                        {% else %}
                            <i class="bi bi-heart"></i> Like
                        {% endif %}
                    </button>
                </form>

                <form action="{% url 'rate' map.urlhash %}" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" class="csrf_token">
                    {{ form_dislike }}
                    <button type="submit" class="btn bg-styled styling-silverline w-100 fs-4">
                        {% if map.dislikes %}
                            <i class="bi bi-x-circle"></i> {{ map.dislikes|intcomma }} Dislikes
                        {% else %}
                            <i class="bi bi-x-circle"></i> Dislike
                        {% endif %}
                    </button>
                </form>

            {% endif %}

            <a href="{% url 'home' %}?map={{ map.urlhash }}">
                <button class="btn bg-styled styling-blueline fs-4">
                    <i class="bi bi-tools"></i> Remix this map
                </button>
            </a>
        </div>

        <div class="m-3">
            {% if map.svg %}
                <img src="{{ map.svg.url }}" class="mx-auto" alt="{{ map.name }}" title="{{ map.name }}">
            {% else %}
                Thumbnail not available, but you can <a href="{% url 'home' %}?map={{ map.urlhash }}">remix this map</a>.
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.csrf_token').val(csrftoken)
        })
    </script>

{% endblock content %}