body {
  font-family: Helvetica, Arial, sans-serif;
}

#title {
  color: black;
  font-size: 20px;
}

.M {
  background-color: black;
  color: white;
  padding: 1px;
  margin: 1px;
}

#main-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

#controls {
  z-index: 101;
  border: 6px solid black;
  background-color: white;
}

div#toolbox {
  text-align: center;
}

#toolbox button {
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  color: #fff;
}

label.mmm-help-setting {
  display: inline;
}

div.mmm-help-setting {
  text-align: left;
  margin-left: 5px;
}

#zoom-in-container button, #zoom-out-container button {
  margin-top: 0;
  margin-bottom: 0;
}

.btn, #rail-line-change, #rail-line-delete, #rail-line-new {
  text-align: left;
}

#canvas-container {
  padding: 0;
  height: 100%;
  cursor: crosshair;
}

#metro-map-canvas {
  z-index: -99;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  overflow: scroll;
}

#metro-map-stations-canvas {
  z-index: 99;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

canvas#grid-canvas, canvas#hover-canvas {
  z-index: 100;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#remix, #credits {
  text-align: left;
}

button {
  /* This makes lighter-colored rail line buttons (and every other button, really) easier to read */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

button.rail-line {
  /*height: 48px;*/
  text-align: center;
}

#rail-line-bd1038 {
  background-color: #bd1038;
}

#rail-line-df8600 {
  background-color: #df8600;
}

#rail-line-f0ce15 {
  background-color: #f0ce15;
}

#rail-line-00b251 {
  background-color: #00b251;
}

#rail-line-0896d7 {
  background-color: #0896d7;
}

#rail-line-662c90 {
  background-color: #662c90;
}

#rail-line-a2a2a2 {
  background-color: #a2a2a2;
}

#rail-line-79bd39 {
  background-color: #79bd39;
}

#rail-line-cfe4a7 {
  background-color: #cfe4a7;
}

#rail-line-000000 {
  background-color: #000000;
}

#rail-line-new {
  /*background-color: #ff8e88;*/
}

#rail-line-delete {
  background-color: #fc3700;
  /*height: 48px;*/
}

#create-new-rail-line {
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-top: 6px;
  margin-bottom: -3px;
}

#autosave-indicator {
  height: 16px;
}

#toolbox hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#station-name {
  font-weight: bold;
  padding-left: 5px;
}

/*input#new-rail-line-color, input#new-rail-line-name, input#change-line-color {*/
input[type="text"], input[type="color"] {
  width: 100%;
}

#tool-lines-to-change {
  margin-top: 3px;
}

form#name-map input {
  margin-top: -5px;
  margin-bottom: 5px;
}

#station-name-orientation {
  width: 100%;
  margin: 3px;
}

hr {
  border-top: 1px solid #666;
}

select {
  width: 100%;
}

@media (max-width: 767px) {
  #controls {
    margin-top: 10px;
  }
  #toolbox button {
    margin-bottom: 8px;
  }
  #remix ul li {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #controls {
    z-index: 100;
    background-color: #fff;
    width: 250px;
  }
}

@media (min-width: 768px) {
  /*body {
    background-color: aliceblue;
  }*/
  #controls {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 5px;
  }
  .tooltip, .tooltip span {
    position: fixed;
  }
  #zoom-in-container {
    padding-right: 0;
  }
  #zoom-out-container {
    padding-left: 0;
  }
}