<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Metro Map Maker</title>

    <link rel="icon" href="{% static 'assets/metromapmaker-gallery.ico' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/metromapmaker.css' %}?version=20190722">

    <style>

      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      body {
        font-size: 85%;
      }

      .small {
        font-size: 75%;
      }

      .tiny {
        font-size: 75%;
        margin-left: 5px;
        color: #666;
      }

      .extra-tiny {
        font-size: 50%;
      }

      .red {
        color: #d33;
      }

      .green {
        color: #3a3;
      }

    </style>

  </head>

<body>


<div id="main-container" class="container-fluid">

  <h1><span class="M">M</span>etro <span class="M">M</span>ap <span class="M">M</span>aker</h1>

  <div id="maps-by-date" class="row">

  <div class="col-sm-3">
    <h3>Maps created <a href="/admin/bydate">by date</a></h3>
  </div>
  <div class="col-sm-9">
    <table class="table">
      <tr>
        <td><h3>{{ created_yesterday }}</h3></td>
        <td><h3>{{ created_today }}</h3></td>
        <td><h3>{{ last_30 }}</h3></td>
        <td>
          <h3>{{ last_90 }}
          {% if last_90 > prev_90 %}
            <span class="tiny extra-tiny green">+{% widthratio last_90_change prev_90 100 %}%</span>
          {% elif last_90 < prev_90 %}
            <span class="tiny extra-tiny red">{% widthratio last_90_change prev_90 100 %}%</span>
          {% endif%}
          </h3>
        </td>
        <td><h3>{{ prev_90 }}</h3></td>
      </tr>

      <tr>
        <th scope="col">{{ yesterday|date:"D, M jS" }}
        <th scope="col">{{ today|date:"D, M jS" }}</th>
        <th scope="col">last 30 days</th>
        <th scope="col">last 90 days</th>
        <th scope="col">previous 90 days</th>
      </tr>
    </table>
  </div>
  </div> <!-- #maps-by-date -->

  <div id="needing-review" class="row">
    <div class="col-sm-3">
      <h3>Maps by station counts</h3>
    </div>
    <div class="col-sm-9">
      <table class="table">

        <tr>
          <th scope="col">Number of stations</th>
          <th scope="col">Needing review</th>
          <th scope="col">Total</th>
        </tr>

        {% for group, counts in maps.items %}
          <tr>
            <td><a href="{{ counts.review_link }}">{{ group }}</a></td>
            <td>{{ counts.needing_review }} <span class="tiny">{% widthratio counts.needing_review totals.needing_review 100 %}%</span></td>
            <td>{{ counts.total }} <span class="tiny">{% widthratio counts.total totals.total 100 %}%</span></td>
          </tr>
        {% endfor %}

        <tr>
          <td><h4>Total</h4></td>
          <td><h4>{{ totals.needing_review }} <span class="tiny">{% widthratio totals.needing_review totals.total 100 %}%</span></h4></td>
          <td><h4>{{ totals.total }}</h4></td>
        </tr>

      </table>
    </div>
  </div> <!-- #needing-review -->

  <div id="quick-links" class="row">
    <div class="col-sm-3">
      <h3>Frequently-used links</h3>
    </div>
    <div class="col-sm-9">
      </a>
      </a>
      <table class="table">
      <tr>
        <td><a href="/admin/gallery/notags/?per_page=100"><h3>{{ maps_no_tags }}</h3></a></td>
        <td><a href="/admin/gallery/needs-review/?per_page=100"><h3>{{ maps_tagged_need_review }}</h3></a></td>
      </tr>

      <tr>
        <th scope="col">Maps with no tags</th>
        <th scope="col">Maps tagged as "Needs Review"</th>
      </tr>
    </table>

    </div>
  </div> <!-- #quick-links -->

  <div id="gallery" class="row">
    <div class="col-sm-3">
      <h3><a href="/gallery">Gallery</a></h3>
    </div>
    <div class="col-sm-9">
      </a>
      </a>
      <table class="table">
      <tr>
        <td><a href="/admin/gallery/?publicly_visible=True&per_page=100&order_by=name"><h3>{{ public_total }}</h3></a></td>
        {% for tag, count in public_tags.items %}
        <td><a href="/admin/gallery/{{ tag }}/?publicly_visible=True&per_page=100&order_by=name"><h3>{{ count }}</h3></a></td>
        {% endfor %}
      </tr>

      <tr>
        <th scope="col">Total</th>
        <th scope="col">Real</th>
        <th scope="col">Speculative</th>
        <th scope="col">Unknown</th>
        <th scope="col">Favorite</th>
      </tr>
    </table>

    </div>
  </div> <!-- #gallery -->

  <div id="stats" class="row">
    <div class="col-sm-3">
      <h3>Stats</h3>
    </div>
    <div class="col-sm-9">
      </a>
      </a>
      <table class="table">
      <tr>
        <td><h3>{{ travel_system_has_real_map|length }} of {{ total_travel_systems.count }} <span class="tiny">{% widthratio travel_system_has_real_map|length total_travel_systems.count 100 %}%</span></h3></td>
        <td><h3>{{ travel_system_has_speculative_map|length }} of {{ total_travel_systems.count }} <span class="tiny">{% widthratio travel_system_has_speculative_map|length total_travel_systems.count 100 %}%</span></h3></td>
      </tr>

      <tr id="toggle-target-cities">
        <th scope="col card-header">Target cities with a real map</th>
        <th scope="col card-header">Target cities with a speculative map</th>
      </tr>

      <tr id="target-cities" class="collapse">

        <td class="card-body">
          <div class="row small">
          <div class="col-sm-4">
            <ul>
            {% for real in travel_system_has_real_map %}
              <li>{{ real }}</li>
            {% endfor %}
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
            {% for travel_system in total_travel_systems %}
              {% if travel_system.name not in travel_system_has_real_map %}
              <li class="red">{{ travel_system.name }}</li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
          </div> <!-- .row -->
        </td>

        <td class="card-body">
          <div class="row small">
          <div class="col-sm-4">
            <ul>
            {% for speculative in travel_system_has_speculative_map %}
              <li>{{ speculative }}</li>
            {% endfor %}
            </ul>
          </div>
          <div class="col-sm-4">
            <ul>
              {% for travel_system in total_travel_systems %}
                {% if travel_system.name not in travel_system_has_speculative_map %}
                <li class="red">{{ travel_system.name }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          </div> <!-- .row -->
        </td>

      </tr>

      </tr>
    </table>

    </div>
  </div> <!-- #quick-links -->

</div> <!-- div#main-container -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

  $('#toggle-target-cities').click(function() {
    $('#target-cities').toggleClass('show')
  })

</script>

  </body>
</html>