{% extends "base.html" %}

{% load humanize %}

{% block breadcrumbs %}
    {{ block.super }}

    <li class="navbar-text nav-item">
        <a href="{% url 'calendar' %}" class="nav-link">Maps by Date</a>
    </li>
{% endblock breadcrumbs %}

{% block content %}

    <h3 class="card-title mt-2 p-3 bg-styled styling-redline text-center">
        Maps by City
    </h3>

    <div class="row text-center mt-3">
        <form method="POST">
            <input type="text" name="city" placeholder="Washington" class="w-50" minlength="3">
            {% csrf_token %}
            <button type="submit" class="bg-styled styling-blueline"><i class="bi bi-search"></i> Search</button>
        </form>
    </div>

    <div class="alert alert-info" role="alert">
        <p>
            The number of maps shown in each city will increase as I work to categorize every map into its correct city.
        </p>
        <p>
            It's a lot of work, but you can help by liking and identifying maps (click the <i class="bi bi-heart"></i> Rate link) on maps.
        </p>
    </div>

    <div class="row">
        {% for city in cities %}
            {% cycle 'red' 'orange' 'yellow' 'green' 'blue' 'purple' 'silver' as cycle_color silent %}

            <div class="col-sm-6 col-md-4 col-xxl-3 mb-3 mt-3"><div class="card h-100 text-center">
                <div class="card-header styling-{{ cycle_color }}line">
                    <h2 class="card-title mt-2">
                        <a class="text-outline bg-styled" href="{% url 'city' city.city.name %}">{{ city|title }}</a>
                    </h2>
                </div>
                <div class="card-body d-flex flex-column text-center p-0">
                    <div class="d-flex">
                        <a href="{% url 'city' city.city.name %}" class="flex-grow-1 align-self-center d-flex">
                            {% with city.featured as map %}
                                {% if map.thumbnail_svg and map.thumbnail_png and map.thumbnail_svg.size > 5000 and map.thumbnail_png.size <  map.thumbnail_svg.size %}
                                    <img src="{{ map.thumbnail_png.url }}" class="mx-auto" alt="{{ city.city.name }}" title="{{ city.city.name }}" width="120" height="120">
                                {% elif map.thumbnail_svg %}
                                    <img src="{{ map.thumbnail_svg.url }}" class="mx-auto" alt="{{ city.city.name }}" title="{{ city.city.name }}" width="120" height="120">
                                {% elif map.thumbnail_png %}
                                    <img src="{{ map.thumbnail_png.url }}" class="mx-auto" alt="{{ city.city.name }}" title="{{ city.city.name }}" width="120" height="120">
                                {% endif %}
                            {% endwith %}
                        </a>
                    </div>

                    <div class="card-footer d-flex justify-content-evenly">
                        <p class="mb-0">
                            <a href="{% url 'city' city.city.name %}" class="">
                                {{ city.maps }} maps
                            </a>
                        </p>
                    </div>
                </div>
            </div></div>

        {% endfor %}

        <div class="col-sm-6 col-md-4 col-xxl-3 mb-3 mt-3"><div class="card h-100 text-center">
                <div class="card-header styling-silverline">
                    <h2 class="card-title mt-2">
                        <a class="text-outline bg-styled" href="{% url 'city' 'Unspecified' %}">Unspecified</a>
                    </h2>
                </div>
                <div class="card-body d-flex flex-column text-center p-0">
                    <div class="d-flex">
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-evenly">
                        <p class="mb-0">
                            Maps that don't have a city yet -- you can help categorize these.
                        </p>
                    </div>
        </div></div>

    </div>

    <hr>

    {% include "pagination.html" %}

{% endblock content %}