{% extends "base.html" %}

{% block title %}Help & FAQs - Metro Map Maker{% endblock title %}

{% block content %}
<div class="container mb-5">

<div class="row">
    <div class="col">
        <h1>How to make maps with Metro Map Maker</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-oJ_9-msD7g?si=B7MrnEqMLvNBnyvH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
            A overview of the most commonly-used features in Metro Map Maker
        </p>
    </div>
    {% comment %}

        When I add v7.2, I should collapse / archive v6; I think it makes sense to retire/archive the older videos.

        When I make the v7.1-compatible of "How to make maps", I can probably just replace the above video.

    {% endcomment %}
    <div class="col">
        <h1>What's new in Metro Map Maker v7.1 (January 2025)</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VAbBlOTnVLQ?si=MEFx64poIcos9vvu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
            For full release notes, see <a href="https://github.com/shannonturner/metro-map-maker/releases">https://github.com/shannonturner/metro-map-maker/releases</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h1>What's new in Metro Map Maker v7 (November 2024)</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6jH756_Y7Ig?si=_UsnpAqE_A1eQWEW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
            For full release notes, see <a href="https://github.com/shannonturner/metro-map-maker/releases">https://github.com/shannonturner/metro-map-maker/releases</a>
        </p>
    </div>
    <div class="col">
        <h1>What's new in Metro Map Maker v6 (April 2024)</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OErGHMzAekw?si=CqpJ_gdCrR7c4FCK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
            For full release notes, see <a href="https://github.com/shannonturner/metro-map-maker/releases">https://github.com/shannonturner/metro-map-maker/releases</a>
        </p>
    </div>
</div>

<a id="faqs"></a>
<div class="row">
<hr>
<h1 class="mt-0">Frequently Asked Questions</h1>
<ol class="ms-5">
    <li><a href="#faqs-find-my-map">Can you help me find my map?</a></li>
    <li><a href="#faqs-add-my-map">Can you add a map to the gallery?</a></li>
    <li><a href="#faqs-feature-request">How can I suggest a new feature?</a></li>
    <li><a href="#faqs-bug-report">How can I report a problem?</a></li>
    <li><a href="#faqs-transit-map-communities">Is there a community of other transit map enthusiasts?</a></li>
    <li><a href="#faqs-autosave">How does autosaving work?</a></li>
    <li><a href="#faqs-code">How was Metro Map Maker built?</a></li>
    <li><a href="#faqs-releases">When do new releases come out?</a></li>
</ol>
</div>

<a id="faqs-find-my-map"></a><hr>
<div>
    <h2>Can you help me find my map?</h2>
    <p>
        If you've lost your map and can't find it, I can help. <a href="mailto:shannon@metromapmaker.com">Send me an email</a> with a picture of your map, the approximate date it was created, and/or some of the names of the stations. It helps if the station names are relatively unique; that's the easiest way for me to find your map.
    </p>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-add-my-map"></a><hr>
<div>
    <h2>Can you add a map to the gallery?</h2>
    <p>
        If I really like a map, I'll add it to the <a href="https://metromapmaker.com/gallery">gallery</a>. But people make so many fun maps every day, I don't always get to look at all of them. If you've made a cool map and it's not in the gallery, I might have missed it -- <a href="mailto:shannon@metromapmaker.com">send it to me</a>!
    </p>
    <p>
        If your map used to be included in the gallery and isn't anymore, sorry about that! Sometimes I rotate older maps out of the gallery to make room for newer maps.
    </p>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-feature-request"></a><hr>
<div>
    <h2>How can I suggest a new feature?</h2>
    <p>
        <a href="mailto:shannon@metromapmaker.com">Tell me about</a> what new feature you'd like Metro Map Maker to have, and how it would help you make cool new maps!
    </p>
    <p>
        While I can't (or sometimes won't) build every feature that's requested, your input does help me know what the map making community wants and likes.
    </p>
    <p>
        If you'd like to see a public list of feature requests and ideas, you can see them at <a href="https://github.com/shannonturner/metro-map-maker/issues">https://github.com/shannonturner/metro-map-maker/issues</a>
    </p>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-bug-report"></a><hr>
<div>
    <h2>How can I report a problem with Metro Map Maker?</h2>
    <p>
        If you encounter a bug or problem with Metro Map Maker, I want to know so I can fix it! <a href="mailto:shannon@metromapmaker.com">Tell me</a> what happened. It's especially helpful to include details like:
        <ul>
            <li>What you were doing just before the problem occured</li>
            <li>What happened, in detail</li>
            <li>What you expected to happen instead</li>
            <li>A screenshot or video showing the problem</li>
        </ul>
    </p>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-transit-map-communities"></a><hr>
<div>
    <h2>Is there a community of other transit map enthusiasts?</h2>
    <p>
        If you'd like a place to share the maps you've made with other people, the <a href="https://www.reddit.com/r/TransitDiagrams/">reddit.com/r/TransitDiagrams</a> subreddit has frequent posts of real and fantasy transit maps.
    </p>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-autosave"></a><hr>
<div>
    <h2>How does autosaving work?</h2>
    <p>When you make a map, Metro Map Maker saves a copy of that map locally so if you close your browser, you can continue working on your map where you left off. If you go to <a href="https://metromapmaker.com">metromapmaker.com</a>, make an edit, close your browser, and open metromapmaker.com again, you'll see that your in-progress map.</p>

    <p>However, there are some situations where this won't work. If you go to the URL of a specific map, like <a href="https://metromapmaker.com/map/wxtIWRy8">metromapmaker.com/map/wxtIWRy8</a>, Metro Map Maker will show you the map at that URL. <b>As long as you don't make edits, your map is still safely saved locally,</b> and you can go to <a href="https://metromapmaker.com">metromapmaker.com</a> and edit it again.</p>

    <p>But if you go to a specific map's URL, like <a href="https://metromapmaker.com/map/wxtIWRy8">metromapmaker.com/map/wxtIWRy8</a>, and make an edit, that new map becomes the map that's saved locally. If you still have your map open in another tab, you can make an edit on that map to make that one the map that's saved locally again.</p>

    <p><b>Summary:</b> the last map you <b>edited</b> is the one that's stored locally.</p>

    <p>I'm considering other ways to handle this differently in future versions of Metro Map Maker, and I'd like to <a href="mailto:shannon@metromapmaker.com">hear your thoughts</a>. Some possibilities include:</p>

    <ul>
        <li>
            <h3>Option 1: Saving multiple maps locally and allowing you to pick which one you're working on in the menu</h3>
            <ul><h4>Benefits</h4>
                <li class="ms-5">It would be frustrating to lose the map you were working on, or lose your progress if you didn't click Save and Share map, or were browsing other maps for inspiration and edited those.</li>
            </ul>
            <ul><h4>Drawbacks / Limitations</h4>
                <li class="ms-5">Clicking Save and Share is still preferable to locally-saved maps, as these are only available on your device (and if you're using the same browser)</li>
                <li class="ms-5">This would add more complexity to the menu</li>
                <li class="ms-5">Technical details: relying on <code>localStorage</code> has a limit which varies by browser, so the amount of maps you could save locally would be dependent on several factors including how large and detailed your maps are. Using some test maps, it seems likely that 5-10 maps would be widely supported on almost all browsers.</li>
            </ul>
        </li>
        <li>
            <h3>Option 2: Adding a login system, allowing in-progress maps to be saved to your account</h3>
            <ul><h4>Benefits</h4>
                <li class="ms-5">You could choose which maps are saved in-progress, up to a reasonable limit, and access them on any browser or device.</li>
                <li class="ms-5">With a login system, you could see the maps you'd created previously all in one place, in addition to other benefits that come with having an account.</li>
            </ul>
            <ul><h4>Drawbacks / Limitations</h4>
                <li class="ms-5">A login system would add complexity. Although Metro Map Maker's underlying framework (<a href="https://www.djangoproject.com/">Django</a>) easily supports a login system, adding one still requires thoughtful implementation.</li>
                <li class="ms-5">Metro Map Maker should always be easy to use without a login; most users probably don't want to make an account, they want to make metro maps!</li>
                <li class="ms-5">If you lost access to your account, I wouldn't be able to restore your access, though you could reset your password on your own.</li>
            </ul>
        </li>
    </ul>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-code"></a><hr>
<div>
    <h2>How was Metro Map Maker built?</h2>
    <p>
        I built Metro Map Maker using <a href="https://developer.mozilla.org/en-US/docs/Web/javascript">Javascript</a> for the controls and rendering, <a href="https://www.python.org/">Python</a> to validate and save maps, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a> for the layout, and <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a> for the page styling. To save maps into the database and handle pages like the gallery and calendar, I use the <a href="https://www.djangoproject.com/">Django framework</a>.
    </p>
    <p>
        Print-quality maps are created in <a href="https://developer.mozilla.org/en-US/docs/Web/SVG">SVG format</a>, so you could load them into Inkscape, Illustrator, or a similar program and edit as you like.
    </p>
    <p>
        The code is available to browse at <a href="https://github.com/shannonturner/metro-map-maker">https://github.com/shannonturner/metro-map-maker</a>.
    </p>
    <p>
        I'm considering creating a set of educational materials focused on how practically Metro Map Maker was built, how I created and then fixed specific bugs, and so on. <a href="mailto:shannon@metromapmaker.com">If this is something you'd be interested in, let me know</a>.
    </p>
    <a href="#faqs">Back to top</a>
</div>

<a id="faqs-releases"></a><hr>
<div>
    <h2>When do new releases come out?</h2>
    <p>
        I'll announce new releases on the <a href="{% url 'blog' %}">blog</a>, and if you <a href="{% url 'blog' %}/#/portal/signup">subscribe for free email updates</a>, you'll be the first to know. Plus, you'll get to see sneak previews of upcoming features and so much more!
    </p>
    <a href="#faqs">Back to top</a>
</div>

 </div> <!-- div.container -->
{% endblock content %}