<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Build the Metro map of your dreams: create your own metro maps, save them, and share with friends!">

    {% if saved_map and saved_map.name and not saved_map.naming_token %}
    <meta property="og:title" content="{{ saved_map.name }} - Metro Map Maker">
    {% else %}
    <meta property="og:title" content="Metro Map Maker">
    {% endif %}
    <meta property="og:site_name" content="Metro Map Maker">
    <meta property="og:url" content="https://metromapmaker.com{% if saved_map %}/?map={{ saved_map.urlhash }}{% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Build the Metro map of your dreams: create your own metro maps, save them, and share with friends!">
    {% if saved_map %}
    <meta property="og:image" content="https://metromapmaker.com/static/images/{{ saved_map.urlhash }}.png">
    {% endif %}
    <meta property="og:image" content="https://metromapmaker.com/static/assets/metromapmaker.png?version=2">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://metromapmaker.com">
    <meta name="twitter:creator" content="@svthmc">
    <meta name="twitter:title" content="Metro Map Maker">
    <meta name="twitter:description" content="Build the Metro map of your dreams: create your own metro maps, save them, and share with friends!">
    <meta name="twitter:image:src" content="https://metromapmaker.com/static/assets/metromapmaker.png?version=2">
    {% if saved_map %}
    <meta name="twitter:image:src" content="https://metromapmaker.com/static/images/{{ saved_map.urlhash }}.png">
    {% endif %}

    <title>Metro Map Maker</title>

    <link rel="icon" href="{% static 'assets/favicon.ico' %}?version=2">
    <link rel="stylesheet" href="{% static 'css/metromapmaker.css' %}?version=20210225">

  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-24QX9VFLRV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-24QX9VFLRV');
  </script>

<body>

<a name="top"></a>

<div id="main-container" class="container-fluid">

  <div id="mobile-header" class="visible-xs text-left row">
    <div class="col-lg-10 col-offset-1">
      <h3 class="text-center"><span class="M">M</span>etro <span class="M">M</span>ap <span class="M">M</span>aker</h3>
      <h5>Build the Metro map of your dreams, save, and share with friends!</h5>
      <a href="gallery/"><h4><b>Check out maps created by visitors like you!</b></h4></a>
      {% if not saved_map %}
      <div id="favorite-maps">
        <h5>Some of my favorites include:</h5>
        <div class="text-center">
        {% for thumbnail in favorites %}
          <div>
            <a href="/?map={{ thumbnail.urlhash }}">
              <img src="{{ thumbnail.thumbnail }}" class="img-responsive center-block" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
              <h4>{{ thumbnail.name }}</h4>
            </a>
          </div>
        {% endfor %}
        </div>
      </div> <!-- #favorite-maps -->
      {% endif %}

      <h5 id="toolbox-mobile-hint" class="hidden-xs">All the tools you need are below the grid.</h5>
    </div>
  </div>

  <div id="canvas-container" class="col-md-9 col-lg-10">
    <div id="loading"></div>
    <canvas id='metro-map-canvas' width="1600" height="1600"></canvas>
    <canvas id='metro-map-stations-canvas' width="1600" height="1600"></canvas>
    <canvas id='grid-canvas' width="1600" height="1600"></canvas>
    <canvas id="hover-canvas" width="1600" height="1600"></canvas>
    <a id="metro-map-image-download-link" class="start-hidden" rel="noopener" starget="_blank"></a>
    <img id="metro-map-image" class="img-responsive" alt="">
  </div>

  <h5 id="mobile-compatibility-warning" class="visible-xs">This works best on desktop; some features may not work correctly on your mobile device.</h5>
  <button id="try-on-mobile" class="styled styling-red visible-xs">Edit this map on mobile anyway</button>

  <div id="controls" class="col-md-3 col-lg-2 text-left hidden-xs">
    <h3 id="title"><span class="M">M</span>etro<span class="M">M</span>ap<span class="M">M</span>aker</h3>
    <h3 id="autosave-indicator"></h3>

    <div id="toolbox">

      <button id="tool-line" class="has-tooltip styled styling-redline" data-toggle="tooltip" data-placement="left" title="Draw a rail line on the grid (Keyboard shortcut: D)">
          <svg id="tool-line-icon-pencil" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#pencil"/></svg>
          <span id="tool-line-caption-draw" class="button-label"><b><u>D</u></b>raw</span>

          <svg id="tool-line-icon-paint-bucket" width="16" height="16" style="display: none;"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#paint-bucket"/></svg>
          <span id="tool-line-caption-fill" class="button-label" style="display: none;"><b><u>F</u></b>ill</span>
      </button>
      <div id="tool-line-options" class="start-hidden" style="display: none;">

        <div id="straight-line-assist-options" class="mmm-help-setting">
          <input id="straight-line-assist" type="checkbox" checked="true">
          <label for="straight-line-assist" class="mmm-help-setting has-tooltip" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: G">
            Show guide to help me draw straight lines
          </label>
        </div>
        <div id="flood-fill-options" class="mmm-help-setting">
          <input id="tool-flood-fill" type="checkbox">
          <label for="tool-flood-fill" class="mmm-help-setting has-tooltip" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: F">
            Flood fill instead of draw. Use Control+Z to undo.
          </label>
        </div>

        <!-- <fieldset> -->
          <!-- TODO -- THIS DOES NOTHING BECAUSE THESE DONT ACTUALLY EXIST; THE JS DESTROYS AND RECREATES ALLA THHIS -->
          <!-- <legend>Rail Lines</legend> -->
          <button id="rail-line-bd1038" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 1">Red Line</button>
          <button id="rail-line-df8600" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 2">Orange Line</button>
          <button id="rail-line-f0ce15" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 3">Yellow Line</button>
          <button id="rail-line-00b251" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 4">Green Line</button>
          <button id="rail-line-0896d7" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 5">Blue Line</button>
          <button id="rail-line-662c90" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 6">Purple Line</button>
          <button id="rail-line-a2a2a2" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 7">Silver Line</button>
          <button id="rail-line-000000" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 8">Logo</button>
          <button id="rail-line-79bde9" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 9">Rivers</button>
          <button id="rail-line-cfe4a7" class="rail-line original-rail-line" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: 0">Parks</button>
        <!-- </fieldset> -->

        <button id="rail-line-new" class="styled styling-redline width-100">
          <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#plus-circle"/></svg>
          <span>Add New Line</span>
        </button>
        <div id="tool-new-line-options" class="text-left" style="display: none">
          <fieldset>
            <legend>Add New Rail Line</legend>
            <label for="new-rail-line-color">Color of this line</label>
            <input id="new-rail-line-color" type="color">

            <label for="new-rail-line-name">Name of this line</label>
            <input id="new-rail-line-name" autocomplete="off" type="text" placeholder="Blue Line" maxlength="100">

            <p id="tool-new-line-errors" class="bg-danger"></p>
            <button id="create-new-rail-line" class="styled styling-redline width-100">Save this new line</button>
          </fieldset>
        </div>

        <button id="rail-line-change" class="styled styling-redline width-100">
          <span>Edit colors &amp; names</span>
        </button>
        <div id="tool-change-line-options" class="text-left" style="display: none;">
          <fieldset>
            <legend>Edit Rail Line</legend>
            <select id="tool-lines-to-change">
              <option>Edit which rail line?</option>
            </select>
            <label for="change-line-color" style="display: none;">Color of this line</label>
            <input id="change-line-color" type="color">
            
            <label for="change-line-name" style="display: none;">Name of this line</label>
            <input id="change-line-name" autocomplete="off" type="text" maxlength="100">
            <p id="cant-save-rail-line-edits" class="bg-danger"></p>
            <button id="save-rail-line-edits" class="styled styling-redline width-100">Save edits to this line</button>
          </fieldset>
        </div>
        <button id="rail-line-delete" class="styled styling-silverline width-100">
          <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#trash"/></svg>
          <span class="button-label">Delete Unused Lines</span>
        </button>
      </div>

      <button id="tool-station" class="has-tooltip styled styling-redline" data-toggle="tooltip" data-placement="left" title="Place a station on an existing rail line, or select an existing station (Keyboard shortcut: S)">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#pin-map"/></svg>
        <span class="button-label"><b><u>S</u></b>tation</span>
      </button>
      <div id="tool-station-options" class="text-left" style="display: none;">
        <fieldset>
          <legend>Add / Edit Station</legend>
          <input id="station-coordinates-x" type="hidden">
          <input id="station-coordinates-y" type="hidden">

          <label for="station-name">Station Name</label>
          <input id="station-name" autocomplete="off" type="text" placeholder="Silver Spring" maxlength="255">

          <div>
            <input id="station-transfer" type="checkbox">
            <label for="station-transfer">Transfer Station</label>
          </div>

          <label for="station-name-orientation">Station Name Orientation</label>
          <select id="station-name-orientation">
            <option value="0">On the right</option>
            <option value="180">On the left</option>
            <option value="-45">Above-right, 45&deg;</option>
            <option value="45">Below-right, 45&deg;</option>
            <option value="135">Below-left, 45&deg;</option>
            <option value="-135">Above-left, 45&deg;</option>
            <option value="90">Above, 90&deg;</option>
            <option value="-90">Below, 90&deg;</option>
          </select>

          <!-- TODO: Station style override -->
        </fieldset>

        <!-- Consider: Remove this if I'm not going to use it -->
        <h4 id="station-on-lines-title" class="station-rail-lines">This station is on these rail lines:</h4>
        <div id="station-on-lines" class="station-rail-lines"></div>
        <h4 id="add-other-lines" class="station-rail-lines">Add other lines this station serves:</h4>
        <div id="station-other-lines" class="station-rail-lines"></div>
      </div>

      <button id="tool-eraser" class="has-tooltip styled styling-redline" data-toggle="tooltip" data-placement="left" title="Erase a painted rail line or station (Keyboard shortcut: E)">
        <svg id="tool-eraser-icon-eraser" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#eraser"/></svg>
        <span id="tool-eraser-caption-eraser" class="button-label"><b><u>E</u></b>raser</span>

        <svg id="tool-eraser-icon-paint-bucket" width="16" height="16" style="display: none;"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#paint-bucket"/></svg>
        <span id="tool-eraser-caption-fill" class="button-label" style="font-size: 80%; display: none;">Eraser Fill</span>
      </button>

      <button id="tool-map-style" class="has-tooltip styled styling-redline" data-toggle="tooltip" data-placement="left" title="Change Style of Lines and Stations">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#palette"/></svg>
        <span class="button-label">Style</span>
      </button>
      <div id="tool-map-style-options" class="text-left" style="display: none;">
          <fieldset>
            <legend>Map Line Size</legend>
            <button id="tool-map-style-line-classic" class="map-style-line styled styling-redline" data-line-width-divisor="1">Metro (Classic)</button>
            <button id="tool-map-style-line-750" class="map-style-line styled styling-redline" data-line-width-divisor="">75%</button>
            <button id="tool-map-style-line-500" class="map-style-line styled styling-redline" data-line-width-divisor="2">50%</button>
            <button id="tool-map-style-line-250" class="map-style-line styled styling-redline" data-line-width-divisor="4">25%</button>
            <button id="tool-map-style-line-125" class="map-style-line styled styling-redline" data-line-width-divisor="8">12.5%</button>
          </fieldset>
          <fieldset>
            <legend>Station Shape</legend>
            <button id="tool-map-style-station-classic" class="map-style-station styled styling-redline" data-station-style="wmata">Metro (Classic)</button>
            <button id="tool-map-style-station-rect" class="map-style-station styled styling-redline" data-station-style="rect-center">Rectangles</button>
            <button id="tool-map-style-station-circles-lg" class="map-style-station styled styling-redline" data-station-style="circles-lg">Circles (Large)</button>
            <button id="tool-map-style-station-circles-md" class="map-style-station styled styling-redline" data-station-style="circles-md">Circles (Medium)</button>
            <button id="tool-map-style-station-circles-sm" class="map-style-station styled styling-redline" data-station-style="circles-sm">Circles (Small)</button>    
          </fieldset>
      </div>

      <button id="tool-move-all" class="has-tooltip styled styling-redline" data-toggle="tooltip" data-placement="left" title="Recenter your Metro map (Keyboard shortcuts: Arrow keys)">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrows-move"/></svg>
        <span class="button-label" style="font-size: 75%">Move map</span>
      </button>
      <div id="tool-move-options" class="text-left" style="display: none;">
        <fieldset>
          <legend>Move Map</legend>
          <h5>Be careful! If you move your map out of bounds, you'll lose your work.</h5>
          <button id="tool-move-up" class="has-tooltip styled styling-redline width-100" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: Up arrow">
            <span><svg class="bi" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrow-up-circle"/></svg> Move everything up</span>
          </button>
          <button id="tool-move-left" class="has-tooltip styled styling-redline width-100" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: Left arrow">
            <span><svg class="bi" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrow-left-circle"/></svg> Move everything left</span>
          </button>
          <button id="tool-move-right" class="has-tooltip styled styling-redline width-100" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: Right arrow">
            <span><svg class="bi" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrow-right-circle"/></svg> Move everything right</span>
          </button>
          <button id="tool-move-down" class="has-tooltip styled styling-redline width-100" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: Down arrow">
            <span><svg class="bi" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrow-down-circle"/></svg> Move everything down</span>
          </button>
        </fieldset>
      </div>

      <button id="tool-resize-all" class="has-tooltip styled styling-redline" data-toggle="tooltip" data-placement="left" title="Resize the grid, allowing you to make larger maps">
        <svg class="bi" width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrows-angle-expand"/></svg>
        <span class="button-label">Resize</span>
      </button>
      <div id="tool-resize-options" class="text-left" style="display: none;">
        <fieldset>
          <legend>Resize Map</legend>
          <h5>Be careful! If your map is large and you resize it to be smaller, you'll lose your work. <b>Use Control+Z to undo.</b></h5>
          <button id="tool-resize-80" class="resize-grid styled styling-redline">Standard (80x80)</button>
          <button id="tool-resize-120" class="resize-grid styled styling-redline">Large (120x120)</button>
          <button id="tool-resize-160" class="resize-grid styled styling-redline">Extra Large (160x160)</button>
          <button id="tool-resize-200" class="resize-grid styled styling-redline">XXL (200x200)</button>
          <button id="tool-resize-240" class="resize-grid styled styling-redline">XXXL (240x240)</button>
          <div id="tool-resize-stretch-options" class="start-hidden">
            <button id="tool-resize-stretch" class="has-tooltip stretch-grid styled styling-redline" data-toggle="tooltip" data-placement="left" title="Increase the available space between stations so you can add more stations in between.">Stretch Map</button>
          </div>
        </fieldset>
      </div>

      <!-- TODO: This is nice, but I may also want to link to SVG -->
      <button id="tool-download-image" class="width-100 has-tooltip hidden-xs styled styling-blueline" data-toggle="tooltip" data-placement="left" title="Download your map to share with friends">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#file-image"/></svg>
        <span class="button-label">Download</span>
      </button>
      <button id="tool-export-canvas" class="width-100 has-tooltip visible-xs styled styling-blueline" data-toggle="tooltip" data-placement="left" title="Download your map to share with friends">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#file-image"/></svg>
        <span class="button-label">Download</span>
      </button>

      <div id="export-canvas-help" class="text-left" style="display: none;">
        <h5><b>Tap and hold the map to save as an image, or right click the map and click "Save Image As".</b></h5>
        <h5>Or click "Edit map" to continue editing your map.</h5>
        <h5>Happy with your map? Be sure to click Save &amp; Share map and it might be <a href="https://metromapmaker.com/gallery" rel="noopener" target="_blank">featured in the gallery</a>!</h5>
      </div>

      <button id="tool-save-map" class="width-100 has-tooltip styled styling-blueline" data-toggle="tooltip" data-placement="left" title="Create a unique, shareable URL for your map">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#save"/></svg>
        <span class="button-label">Save &amp; Share</span>
      </button>
      <div id="tool-save-options" class="text-left"></div>

      <button id="tool-grid" class="has-tooltip styled styling-greenline width-100" data-toggle="tooltip" data-placement="left" title="Just hides the grid but you can still edit the map; to download your map click Download as image (Keyboard shortcut: H)">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#grid"/></svg>
        <span class="button-label"><b><u>H</u></b>ide grid</span>
      </button>

      <button id="tool-zoom-in" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: +">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#zoom-in"/></svg>
        <span class="button-label">Zoom +</span>
      </button>
      <button id="tool-zoom-out" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Keyboard shortcut: -">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#zoom-out"/></svg>
        <span class="button-label">Zoom -</span>
      </button>

      <button id="snap-controls-left" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Move all controls to the left side of the screen (Keyboard shortcut: [)">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrow-left-circle"/></svg>
        <span class="button-label" style="font-size: 80%;">Move controls</span>
      </button>
      <button id="snap-controls-right" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Move all controls to the right side of the screen (Keyboard shortcut: ])" style="display: none;">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrow-right-circle"/></svg>
        <span class="button-label" style="font-size: 80%;">Move controls</span>
      </button>

      <button id="controls-collapse-menu" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Collapse menu and only show icons (Keyboard shortcut: C)">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrows-collapse-vertical"/></svg>
        <span class="button-label">Collapse</span>
      </button>

      <button id="controls-expand-menu" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Expand Menu (Keyboard shortcut: X)" style="display: none;">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#arrows-expand-vertical"/></svg>
      </button>

      {% comment %}
      Hide for now, consider revisiting later
      <button id="controls-dock-menu" class="has-tooltip styled styling-greenline" data-toggle="tooltip" data-placement="left" title="Move controls to top, right, bottom, or left of screen">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#window-desktop"/></svg>
        <span class="button-label">Dock</span> <!-- TODO: this should replace "snap controls to left" and cycle between top,right,bottom,left (clockwise) -->
      </button>
      {% endcomment %}

      <button id="tool-clear-map" class="has-tooltip styled styling-silverline width-100" data-toggle="tooltip" data-placement="left" title="Be careful: this will delete your map">
        <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#trash"/></svg>
        <span class="button-label">Clear map</span>
      </button>

    </div> <!-- #toolbox -->

      <div id="remix">
        <fieldset>
          <legend>Browse & Remix</legend>
            <a href="{% url 'public_gallery' %}" class="width-100">
              <button id="tool-clear-map" class="has-tooltip styled styling-blueline width-100" data-toggle="tooltip" data-placement="left" title="These are some of my favorite maps made by visitors like you">
                <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#postage-heart"/></svg>
                <span class="button-label">My Favorites</span>
              </button>
            </a>
            <a href="{% url 'calendar' %}" class="width-100">
              <button id="tool-clear-map" class="has-tooltip styled styling-blueline width-100" data-toggle="tooltip" data-placement="left" title="All Metro Maps ever made by visitors like you">
                <svg width="16" height="16"><use xlink:href="{% static 'assets/icons/mmm-icons.svg' %}#calendar-date"/></svg>
                <span class="button-label">All Maps by Date</span>
              </button>
            </a>
        </fieldset>
      </div>

      <div id="credits">
        <h5>Created by <a href="https://shannonvturner.com" rel="noopener" target="_blank">Shannon Turner</a></h5>
        <h6>By using MetroMapMaker, you place maps you make in the <a href="https://en.wikipedia.org/wiki/Public_domain" rel="noopener" target="_blank">public domain</a>.</h6>
      </div>

  </div> <!-- #controls -->

</div> <!-- #main-container -->

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  {% if saved_map %}
  <script>
    var savedMapData = {% autoescape off %}{{ saved_map.mapdata }}{% endautoescape %}
    {% if saved_map_name %}window.sessionStorage.setItem('userGivenMapName', "{{ saved_map_name }}"){% endif %}
  </script>
  {% endif %}
  <script src='{% static "js/metromapmaker.js" %}?version=20220925'></script>
  <script src='{% static "js/tooltips.min.js" %}' defer=""></script>

  </body>
</html>