<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Build the Metro map of your dreams: create your own metro maps, save them, and share with friends!">

    <meta property="og:title" content="Metro Map Maker">
    <meta property="og:site_name" content="Metro Map Maker">
    <meta property="og:url" content="https://metromapmaker.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Build the Metro map of your dreams: create your own metro maps, save them, and share with friends!">
    <meta property="og:image" content="https://metromapmaker.com/static/assets/metromapmaker.png?version=2">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://metromapmaker.com">
    <meta name="twitter:creator" content="@svthmc">
    <meta name="twitter:title" content="Metro Map Maker">
    <meta name="twitter:description" content="Build the Metro map of your dreams: create your own metro maps, save them, and share with friends!">
    <meta name="twitter:image:src" content="https://metromapmaker.com/static/assets/metromapmaker.png?version=2">

    <title>Metro Map Maker</title>

    <link rel="icon" href="{% static 'assets/favicon.ico' %}?version=2">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{% static 'css/metromapmaker.css' %}?version=20200124">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css" integrity="sha256-f83N12sqX/GO43Y7vXNt9MjrHkPc4yi9Uq9cLy1wGIU=" crossorigin="anonymous" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-4', 'auto');
      ga('send', 'pageview');

    </script>

  </head>

<body>

<a name="top"></a>

<div id="main-container" class="container-fluid">

  <div id="mobile-header" class="visible-xs text-left row">
    <div class="col-lg-10 col-offset-1">
      <h3 class="text-center"><span class="M">M</span>etro <span class="M">M</span>ap <span class="M">M</span>aker</h3>
      <h5>Create your own metro maps, save them, and share with friends!</h5>
      <a href="gallery/"><h4><b>Check out maps created by visitors like you!</b></h4></a>
      <div id="favorite-maps">
        <h5>Some of my favorites include:</h5>
        <div class="text-center">
        {% for thumbnail in favorites %}
          <div>
            <a href="/?map={{ thumbnail.urlhash }}">
              <img src="{{ thumbnail.thumbnail }}" class="img-responsive center-block" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
              <h4>{{ thumbnail.name }}</h4>
            </a>
          </div>
        {% endfor %}
        </div>
      </div> <!-- #favorite-maps -->

      <h5>This works best on desktop; some features may not work correctly on your mobile device.</h5>
      <h5 id="toolbox-mobile-hint" class="hidden-xs">All the tools you need are below the grid.</h5>
    </div>
  </div>

  <div id="canvas-container" class="col-md-9 col-lg-10">
    <canvas id='metro-map-canvas' width="1600" height="1600"></canvas>
    <canvas id='metro-map-stations-canvas' width="1600" height="1600"></canvas>
    <canvas id='grid-canvas' width="1600" height="1600"></canvas>
    <canvas id="hover-canvas" width="1600" height="1600"></canvas>
    <a id="metro-map-image-download-link" class="start-hidden" target="_blank"></a>
    <img id="metro-map-image" class="img-responsive start-hidden">
  </div>

  <button id="try-on-mobile" class="btn btn-info visible-xs">Edit this map on mobile anyway</button>

  <div id="controls" class="col-md-3 col-lg-2 text-left hidden-xs">
    <h3 id="title"><span class="M">M</span>etro<span class="M">M</span>ap<span class="M">M</span>aker</h3>

    <div id="toolbox">

      <button id="tool-line" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Draw a rail line on the grid"><i class="fa fa-pencil" aria-hidden="true"></i><i class="fa fa-subway" aria-hidden="true"></i> Draw Rail Line</button>
      <div id="tool-line-options" class="start-hidden">
        <button id="rail-line-bd1038" class="rail-line original-rail-line">Red Line</button>
        <button id="rail-line-df8600" class="rail-line original-rail-line">Orange Line</button>
        <button id="rail-line-f0ce15" class="rail-line original-rail-line">Yellow Line</button>
        <button id="rail-line-00b251" class="rail-line original-rail-line">Green Line</button>
        <button id="rail-line-0896d7" class="rail-line original-rail-line">Blue Line</button>
        <button id="rail-line-662c90" class="rail-line original-rail-line">Purple Line</button>
        <button id="rail-line-a2a2a2" class="rail-line original-rail-line">Silver Line</button>
        <button id="rail-line-000000" class="rail-line original-rail-line">Logo</button>
        <button id="rail-line-79bde9" class="rail-line original-rail-line">Rivers</button>
        <button id="rail-line-cfe4a7" class="rail-line original-rail-line">Parks</button>
        <button id="rail-line-new" class="btn">+ Add New Line</button>
        <div id="tool-new-line-options" class="text-left start-hidden">
          <h4 id="tool-new-line-errors" class="bg-danger"></h4>
          <h4>Color of this line</h4>
          <input id="new-rail-line-color" type="color">

          <h4>Name of this line</h4>
          <input id="new-rail-line-name" type="text" placeholder="Blue Line" maxlength="100">
          <button id="create-new-rail-line" class="btn btn-success">Save this new line</button>
        </div>
        <div id="straight-line-assist-options" class="mmm-help-setting">
          <input id="straight-line-assist" type="checkbox" checked="true">
          <label for="straight-line-assist" class="mmm-help-setting">
            Show guide to help me draw straight lines
          </label>
        </div>
        <hr>
        <button id="rail-line-change" class="btn"><i class="fa fa-pencil" aria-hidden="true"></i> Edit colors &amp; names</button>
        <div id="tool-change-line-options" class="text-left start-hidden">
          <select id="tool-lines-to-change">
              <option>Edit which rail line?</option>
          </select>
          <h4>Color of this line</h4>
          <input id="change-line-color" type="color">
          <h4>Name of this line</h4>
          <input id="change-line-name" type="text" maxlength="100">
          <h5 id="cant-save-rail-line-edits" class="bg-warning"></h5>
          <button id="save-rail-line-edits" class="btn btn-success">Save edits to this line</button>
        </div>
        <button id="rail-line-delete" class="btn">- Delete Unused Lines</button>
      </div>
      
      <button id="tool-station" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Place a station on an existing rail line, or select an existing station"><i class="fa fa-map-pin" aria-hidden="true"></i> Add/Edit Station</button>
      <div id="tool-station-options" class="text-left start-hidden">
        <h4>Station Name</h4>
        <input id="station-coordinates-x" type="hidden">
        <input id="station-coordinates-y" type="hidden">
        <input id="station-name" type="text" placeholder="Silver Spring" maxlength="255">
        <div style="margin: 10px;">
          <input id="station-transfer" type="checkbox"> <label for="station-transfer">Transfer Station</label>
        </div>
        <h4>Station Name Orientation</h4>
        <h5>In relation to the station marker, where should the name begin?</h5>
        <select id="station-name-orientation">
          <option value="0">On the right</option>
          <option value="180">On the left</option>
          <option value="-45">Above-right, 45&deg;</option>
          <option value="45">Below-right, 45&deg;</option>
          <option value="135">Below-left, 45&deg;</option>
        </select>
        <h4>This station is on these rail lines:</h4>
        <div id="station-on-lines"></div>
        <h4 id="add-other-lines">Add other lines this station serves:</h4>
        <div id="station-other-lines"></div>
      </div>
      <button id="tool-eraser" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Erase a painted rail line or station"><i class="fa fa-eraser" aria-hidden="true"></i> Eraser</button>
      <button id="tool-download-image" class="btn btn-info has-tooltip hidden-xs" data-toggle="tooltip" data-placement="left" title="Download your map to share with friends"><i class="fa fa-file-image-o" aria-hidden="true"></i> Download as image</button>
      <button id="tool-export-canvas" class="btn btn-info has-tooltip visible-xs" data-toggle="tooltip" data-placement="left" title="Download your map to share with friends"><i class="fa fa-file-image-o" aria-hidden="true"></i> Download as image</button>
      <div id="export-canvas-help" class="text-left start-hidden">
        <h5><b>Tap and hold the map to save as an image, or right click the map and click "Save Image As".</b></h5>
        <h5>Or click "Edit map" to continue editing your map.</h5>
        <h5>Happy with your map? Be sure to click Save &amp; Share map and it might be <a href="https://metromapmaker.com/gallery" target="_blank">featured in the gallery</a>!</h5>
      </div>
      <button id="tool-save-map" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Create a unique, shareable URL for your map"><i class="fa fa-share" aria-hidden="true"></i> Save &amp; Share map</button>
      <div id="tool-save-options" class="text-left start-hidden"></div>
      <button id="tool-grid" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Just hides the grid but you can still edit the map; to download your map click Download as image"><i class="fa fa-table" aria-hidden="true"></i> Hide grid</button>
      <div id="tool-zoom-controls" class="row">
        <div class="col-xs-6" id="zoom-in-container">
        <button id="tool-zoom-in" class="btn btn-info"><i class="fa fa-search-plus" aria-hidden="true"></i> Zoom +</button>
        </div>
        <div class="col-xs-6" id="zoom-out-container">
        <button id="tool-zoom-out" class="btn btn-info"><i class="fa fa-search-minus" aria-hidden="true"></i> Zoom -</button>
        </div>
      </div>
      <button id="snap-controls-left" class="btn btn-info has-tooltip start-hidden" data-toggle="tooltip" data-placement="left" title="Move all controls to the left side of the screen"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Snap controls to left</button>
      <button id="snap-controls-right" class="btn btn-info has-tooltip start-hidden" data-toggle="tooltip" data-placement="left" title="Move all controls to the right side of the screen"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Snap controls to right</button>
      <button id="tool-move-all" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Recenter your Metro map"><i class="fa fa-arrows" aria-hidden="true"></i> Move map</button>
      <div id="tool-move-options" class="text-left start-hidden">
        <h5>Be careful! If you move your map out of bounds, you'll lose your work.</h5>
        <button id="tool-move-up" class="btn btn-info"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> Move everything up</button>
        <button id="tool-move-left" class="btn btn-info"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Move everything left</button>
        <button id="tool-move-right" class="btn btn-info"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Move everything right</button>
        <button id="tool-move-down" class="btn btn-info"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Move everything down</button>
      </div>
      <button id="tool-resize-all" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Resize the grid, allowing you to make larger maps"><i class="fa fa-expand" aria-hidden="true"></i> Resize grid</button>
      <div id="tool-resize-options" class="text-left start-hidden">
        <h5>Be careful! If your map is large and you resize it to be smaller, you'll lose your work. <b>Use Control+Z to undo.</b></h5>
        <button id="tool-resize-80" class="btn btn-info resize-grid">Standard (80x80)</button>
        <button id="tool-resize-120" class="btn btn-info resize-grid">Large (120x120)</button>
        <button id="tool-resize-160" class="btn btn-info resize-grid">Extra Large (160x160)</button>
        <button id="tool-resize-200" class="btn btn-info resize-grid">XXL (200x200)</button>
        <button id="tool-resize-240" class="btn btn-info resize-grid">XXXL (240x240)</button>
        <div id="tool-resize-stretch-options" class="start-hidden">
          <button id="tool-resize-stretch" class="btn btn-info has-tooltip stretch-grid" data-toggle="tooltip" data-placement="left" title="Increase the available space between stations so you can add more stations in between.">Stretch Map</button>
        </div>
      </div>

      <hr>
      <button id="tool-clear-map" class="btn btn-info has-tooltip" data-toggle="tooltip" data-placement="left" title="Be careful: this will delete your map"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear map</button>
      <hr>
      <div id="autosave-indicator"></div>

      <hr>
      <div id="remix">
        <a href="/gallery/"><h5><b>Browse maps created by visitors like you</b></h5></a>
      </div>

      <hr>
      <div id="credits">
        <h5>Created by <a href="https://shannonvturner.com" target="_blank">Shannon Turner</a></h5>
        <h5>Inspired by <a href="https://www.wired.com/2014/01/fantasy-transit-maps/" target="_blank">this</a> and <a href="https://io9.gizmodo.com/5513914/speculative-subway-maps-from-our-underground-future/" target="_blank">this</a></h5>
        <h6>By using MetroMapMaker, you place maps you make in the public domain.</h6>
      </div>

    </div> <!-- #toolbox -->

  </div> <!-- #controls -->

</div> <!-- #main-container -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% if saved_map %}
  <script>
    var savedMapData = {% autoescape off %}'{{ saved_map.mapdata }}'{% endautoescape %}
    {% if saved_map_name %}window.sessionStorage.setItem('userGivenMapName', "{{ saved_map_name }}"){% endif %}
  </script>
  {% endif %}
  <script src='{% static "js/metromapmaker.js" %}?version=20200209'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js" integrity="sha256-ZdnRjhC/+YiBbXTHIuJdpf7u6Jh5D2wD5y0SNRWDREQ=" crossorigin="anonymous"></script>

  </body>
</html>