<!DOCTYPE html>

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Build the Metro system of your dreams: create your own metro maps, save them, and share with friends!">

    <meta property="og:title" content="Metro Map Maker">
    <meta property="og:site_name" content="Metro Map Maker">
    <meta property="og:url" content="https://metromapmaker.com">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Build the Metro system of your dreams: create your own metro maps, save them, and share with friends!">
    <meta property="og:image" content="https://metromapmaker.com/metromapmaker.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://metromapmaker.com">
    <meta name="twitter:creator" content="@svthmc">
    <meta name="twitter:title" content="Metro Map Maker">
    <meta name="twitter:description" content="Build the Metro system of your dreams: create your own metro maps, save them, and share with friends!">
    <meta name="twitter:image:src" content="https://metromapmaker.com/metromapmaker.png">

    <title>Metro Map Maker</title>

    <link rel="icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-4', 'auto');
      ga('send', 'pageview');

    </script>

    <style>

    .map-link {
      display: inline;
      margin-right: 25px;
    }

    .diff-a, .diff-b {
      display: inline;
    }

    #diff-sidebar {
      position: fixed;
      left: 75%;
      top: 0%;
      background: #eee;
      padding-top: 20px;
      padding-bottom: 20px;
      max-height: 100%;
      overflow-y: auto;
    }

    #diff-pane {
      overflow-y: auto;
    }

    </style>

  </head>

<body>

<a name="top"></a>

<div id="main-container" class="container-fluid">

  <div class="visible-xs text-center row">
    <div class="col-lg-10 col-offset-1">
      <h3>Metro Map Maker</h3>
      <h5>Create your own metro maps, save them, and share with friends!</h5>
      <h5>To get started, all the tools you need are below the grid.</h5>
      <h5>(This works best on desktop; some features may not work correctly on your mobile device.)</h5>
    </div>
  </div>

  <div id="gallery-grids" class="col-lg-10 hidden">
    {% for map in saved_maps %}
        <div id="grid-m-{{ map.id }}" class="col-lg-10"></div>
    {% endfor %}
  </div>

  <!-- Gallery Controls (Top) -->
  <div class="row">
    <div class="col-lg-3"></div>
    <div id="gallery-controls" class="col-lg-6 text-center">
      <div class="pagination">
          {% if headline %}
          <h3>{{ saved_maps|length }} {{ headline }}</h3>
          {% endif %}
          <span class="step-links">
              {% if saved_maps.has_previous %}
                  <a href="./1"><button class="btn-primary">First Page</button></a>
                  <a href="./{{ saved_maps.previous_page_number }}"><button class="btn-info">Previous Page</button></a>
              {% endif %}

              {% if saved_maps.paginator %}
              <span class="current" style="margin: 10px;">
                  <b>Page {{ saved_maps.number }} of {{ saved_maps.paginator.num_pages }}</b>
              </span>
              {% endif %}

              {% if saved_maps.has_next %}
                  <a href="./{{ saved_maps.next_page_number }}"><button class="btn-info">Next Page</button></a>
                  <a href="./{{ saved_maps.paginator.num_pages }}"><button class="btn-primary">Last Page</button></a>
              {% endif %}
          </span>
      </div>
    </div> <!-- div#gallery-controls -->
    <div class="col-lg-3"></div>
  </div> <!-- div.row -->

  <div class="col-lg-1"></div>

  <div id="gallery" class="col-lg-7">

    {% for map in saved_maps %}

        <h3 class="map-link">Saved Map #{{ map.id }} (<a href="https://metromapmaker.com/?map={{ map.urlhash }}">https://metromapmaker.com/?map={{ map.urlhash }}</a>)</h3> 
        <button id="diff-a-{{ map.urlhash }}-{{ map.id }}" class="diff diff-a btn-info">Diff A</button>
        <button id="diff-b-{{ map.urlhash }}-{{ map.id }}" class="diff diff-b btn-primary">Diff B</button>

        {% if is_staff %}
          <button id="hide-{{ map.id }}" class="hide-map btn-warning">Hide</button>
          <a href="{% url 'similar' urlhash=map.urlhash %}"><button class="btn-default">View Similar</button></a>
          {% if similarity_scores %}
            {% for urlhash, score in similarity_scores.items %}
              {% if urlhash == map.urlhash %}
                {% widthratio score 1 100 %}% similar
              {% endif %}
            {% endfor %}
          {% endif %}

          <p>
            {% for tag in tags %}
              {% if tag in map.tags.all %}
                <button id="removetag-map-{{ map.id }}-{{ tag.name }}" class="changetag-map removetag-map btn-primary">{{ tag.name }}</button>
              {% else %}
                <button id="addtag-map-{{ map.id }}-{{ tag.name }}" class="changetag-map addtag-map btn-default">{{ tag.name }}</button>
              {% endif %}
            {% endfor %}
          </p>

        {% endif %}

        <canvas id='metro-map-gallery-canvas-{{ map.id }}' width="1600" height="1600" class="img-responsive"></canvas>
        
        <hr>

    {% endfor %}

  </div> <!-- div#gallery -->

  <div id="diff-sidebar" class="col-lg-3">
    <h4 class="text-center">Calculate Map Difference</h4>
    <h4>Map A: <input id="diff-map-a" type="text" placeholder="Click 'Diff A' to fill"><input id="diff-map-id-a" type="hidden"></h4>
    <h4>Map B: <input id="diff-map-b" type="text" placeholder="Click 'Diff B' to fill"><input id="diff-map-id-b" type="hidden"></h4>
    <div id="diff-pane"> </div>
    <div class="text-center">
      <button id="keep-a" class="diff-keep btn-info">Keep A</button>
      <button id="keep-b" class="diff-keep btn-primary">Keep B</button>
    </div>
    <div id="diff-discard" class="start-hidden">
      <h4 class="text-center">Maps to Hide from Gallery View</h4>
    </div>
  </div> <!-- div#diff-sidebar -->

  <div class="col-lg-1"></div>

  <div id="gallery-controls" class="col-lg-6 col-lg-offset-3 text-center">
    <div class="pagination">
        <span class="step-links">
            {% if saved_maps.has_previous %}
                <a href="./1"><button class="btn-primary">First Page</button></a>
                <a href="./{{ saved_maps.previous_page_number }}"><button class="btn-info">Previous Page</button></a>
            {% endif %}

            {% if saved_maps.paginator %}
            <span class="current" style="margin: 10px;">
                <b>Page {{ saved_maps.number }} of {{ saved_maps.paginator.num_pages }}</b>
            </span>
            {% endif %}

            {% if saved_maps.has_next %}
                <a href="./{{ saved_maps.next_page_number }}"><button class="btn-info">Next Page</button></a>
                <a href="./{{ saved_maps.paginator.num_pages }}"><button class="btn-primary">Last Page</button></a>
            {% endif %}
        </span>
    </div>
  </div>

</div> <!-- #main-container -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript">

  String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
  };

  function galleryDrawGrid(mapId) {
    var gridRows = 80, gridCols = 80, grid = "";
    for (var x=0; x<gridRows; x++) {
      grid += '<div class="grid-row">';
      for (var y=0; y<gridCols; y++) {
        grid += '<div id="m-' + mapId + 'coord-x-' + x + '-y-' + y + '" class="grid-col"></div>';
      }
      grid += '</div> <!-- div.grid-row -->';
    }

    $('#grid-m-' + mapId).html(grid);
  } // function galleryDrawGrid(mapId)

  function galleryGetActiveLine(x, y, mapId) {
    // Given an x, y coordinate pair, return the hex code for the line you're on.
    // Use this to retrieve the line for a given point on a map.
    try {
      var classes = document.getElementById('m-' + mapId + 'coord-x-' + x + '-y-' + y).className.split(/\s+/);
    } catch (e) {
        return 'With the new straight lines replacing the old bubbles system of drawing the maps onto the canvas, you will land here on occasion when the maps reach the borders. (For example, y-80 which does not exist in the 80x80 grid.) Do not panic, instead just keep on keeping on.'
    }
    for (var z=0; z<classes.length; z++) {
      if (classes[z].indexOf('has-line-') >= 0) {
        var activeLine = classes[z].slice(9, 15);
      }
    }
    return activeLine;
  }

  function galleryLoadMapFromSavedMapData(metroMapObject, mapId) {
     for (var x in metroMapObject) {
        if (metroMapObject.hasOwnProperty(x)) {
          for (var y in metroMapObject[x]) {
            if (metroMapObject[x].hasOwnProperty(y)) {
              $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).addClass('has-line');
              $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).addClass('has-line-' + metroMapObject[x][y]['line']);
              $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).css({
                  'background-color': '#' + metroMapObject[x][y]['line']
              });
              if (metroMapObject[x][y]["station"]) {
                $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).addClass('has-station');
                $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).html('<div id="m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"] +'" class="station"></div>');
                if (metroMapObject[x][y]["station"]["transfer"] == 1) {
                  $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('transfer-station');
                }
                if (metroMapObject[x][y]["station"]["lines"] && metroMapObject[x][y]['station']['name']) {
                  for (var z=0; z<metroMapObject[x][y]["station"]["lines"].length; z++) {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('has-line-' + metroMapObject[x][y]["station"]["lines"][z]);
                    // Rail line buttons should use their color for the buttons, too.
                    $('<style>').prop('type', 'text/css')
                    .html('#m-' + mapId + 'rail-line-' + metroMapObject[x][y]["station"]["lines"][z] + ', .has-line-' + metroMapObject[x][y]["station"]["lines"][z] + '{ background-color: #' + metroMapObject[x][y]["station"]["lines"][z] + '; }').appendTo('head');
                  } // for lines
                  if (metroMapObject[x][y]["station"]["orientation"] == '180') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot180');
                  } else if (metroMapObject[x][y]["station"]["orientation"] == '-45') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot-45');
                  } else if (metroMapObject[x][y]["station"]["orientation"] == '45') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot45');
                  } else if (metroMapObject[x][y]["station"]["orientation"] == '135') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot135');
                  } // if station orientation
                } // if station name, lines
              } // if station
            } // if y
          } // for y in x
        } // if x
      } // for x in map

  } // function galleryLoadMapFromSavedMapData(metroMapObject, mapId)

  function galleryExportToCanvas(mapId) {
    var canvas = document.getElementById('metro-map-gallery-canvas-' + mapId);
    var ctx = canvas.getContext('2d');
    var gridRows = 80, gridCols = 80;
    // How much larger is the canvas than the grid has in squares?
    // If the grid has 80x80 squares and the canvas is 1600x1600,
    //    then the gridPixelMultiplier is 20 (1600 / 80)
    var gridPixelMultiplier = canvas.width / gridCols; // 20

    // Clear the old canvas if it was drawn
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    // Make the background white instead of transparent
    ctx.fillStyle = '#ffffff';
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    for (var x=0; x<gridRows; x++){
      for (var y=0; y<gridCols; y++) {

        if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).hasClass('has-line')) {
          // Get color of the line
          ctx.fillStyle = '#' + galleryGetActiveLine(x, y, mapId);

          ctx.beginPath();
          ctx.strokeStyle = '#' + galleryGetActiveLine(x, y, mapId);
          ctx.lineWidth = gridPixelMultiplier * 1.75;

          if (galleryGetActiveLine(x, y, mapId) == galleryGetActiveLine(x + 1, y + 1, mapId)) {
            // Direction: SE
            ctx.moveTo(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.lineTo((x + 1) * gridPixelMultiplier, (y + 1) * gridPixelMultiplier);
            ctx.stroke();
          } else if (galleryGetActiveLine(x, y, mapId) == galleryGetActiveLine(x + 1, y - 1, mapId)) {
            // Direction: NE
            ctx.moveTo(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.lineTo((x + 1) * gridPixelMultiplier, (y - 1) * gridPixelMultiplier);
            ctx.stroke();
          } else if (galleryGetActiveLine(x, y, mapId) == galleryGetActiveLine(x + 1, y, mapId)) {
            // Direction: E
            ctx.moveTo(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.lineTo((x + 1.5) * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.stroke();
          } else if (galleryGetActiveLine(x, y, mapId) == galleryGetActiveLine(x, y + 1, mapId)) {
            // Direction: S
            ctx.moveTo(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.lineTo(x * gridPixelMultiplier, (y + 1.5) * gridPixelMultiplier);
            ctx.stroke();
          }

          // Always: draw a circle, to smooth out the edges
          // arc(x, y, radius, startAngle, endAngle, anticlockwise)
          // Draw an arc centered at x, y position with radius r
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .9, 0, Math.PI * 2, true); // Rail-line circle
          ctx.closePath();
          ctx.fill();
        } // if .has-line
      } // for y
    } // for x

    // Draw the stations last (and separately), or they will be painted over by the lines themselves.
    ctx.font = '700 20px sans-serif';

    for (var x=0; x<gridRows; x++){
      for (var y=0; y<gridCols; y++) {
        if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).hasClass('has-station') && $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).children().hasClass('transfer-station')) {
          // Outer circle
          ctx.fillStyle = '#000000';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * 1.2, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Inner circle
          ctx.fillStyle = '#ffffff';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .9, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Outer circle
          ctx.fillStyle = '#000000';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .6, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Inner circle
          ctx.fillStyle = '#ffffff';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .3, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          
        } else if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).hasClass('has-station')) {
          // Outer circle
          ctx.fillStyle = '#000000';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .6, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Inner circle
          ctx.fillStyle = '#ffffff';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .3, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();
        } // if .has-station

        // Write the station name
        if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).hasClass('has-station')) {
          ctx.save();
          ctx.fillStyle = '#000000';
          var activeStation = document.getElementById('m-' + mapId + 'coord-x-' + x + '-y-' + y).children[0].id.replaceAll('_', ' ');

          // For the Gallery View, I want to remove the mapId prefixing the document ID
          activeStation = activeStation.slice(String("#m-" + mapId).length);

          // Rotate the canvas if specified in the station name orientation
          if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y + ' .station').hasClass('rot-45')) {
            ctx.translate(x * gridPixelMultiplier, y * gridPixelMultiplier);  
            ctx.rotate(-45 * (Math.PI/ 180));
            if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).children().hasClass('transfer-station')) {
              ctx.fillText(activeStation, 30, 5);
            } else {
              ctx.fillText(activeStation, 15, 5);
            }
          } else if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y + ' .station').hasClass('rot45')) {
            ctx.translate(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.rotate(45 * (Math.PI/ 180));
            if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).children().hasClass('transfer-station')) {
              ctx.fillText(activeStation, 30, 5);
            } else {
              ctx.fillText(activeStation, 15, 5);
            }
          } else if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y + ' .station').hasClass('rot135')) {
            var textSize = ctx.measureText(activeStation).width;
            ctx.translate(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.rotate(-45 * (Math.PI/ 180));
            if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).children().hasClass('transfer-station')) {
              ctx.fillText(activeStation, -1 * textSize - 30, 5);
            } else {
              ctx.fillText(activeStation, -1 * textSize - 15, 5);
            }
          } else if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y + ' .station').hasClass('rot180')) {
            // When drawing on the left, this isn't very different from drawing on the right 
            //      with no rotation, except that we measure the text first
            var textSize = ctx.measureText(activeStation).width;
            if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).children().hasClass('transfer-station')) {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) - (gridPixelMultiplier * 1.5) - textSize, (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            } else {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) - (gridPixelMultiplier) - textSize, (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            }
          } else  {
            if ($('#m-' + mapId + 'coord-x-' + x + '-y-' + y).children().hasClass('transfer-station')) {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) + (gridPixelMultiplier * 1.5), (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            } else {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) + gridPixelMultiplier, (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            }  
          } // else (of if station hasClass .rot-45)

          ctx.restore();
        } // if .has-station (to write the station name)
      } // for y
    } // for x

    // Has a shareable link been created for this map? If so, add it to the corner
    if ($('#shareable-map-link').length) {
      ctx.font = '700 20px serif';
      ctx.fillStyle = '#000000';
      var shareableLink = $('#shareable-map-link').text();
      if (shareableLink.length > 0 && shareableLink.slice(0, 26) == "https://metromapmaker.com/") {
        var remixCredit = 'Remix this map! Go to ' + shareableLink;
        var textWidth = ctx.measureText(remixCredit).width;
        ctx.fillText(remixCredit, (gridRows * gridPixelMultiplier) - textWidth, (gridCols * gridPixelMultiplier) - 25);
      }
    }

    // Add a map credit to help promote the site
    ctx.font = '700 20px sans-serif';
    ctx.fillStyle = '#000000';
    var mapCredit = 'Created with MetroMapMaker.com';
    var textWidth = ctx.measureText(mapCredit).width;
    ctx.fillText(mapCredit, (gridRows * gridPixelMultiplier) - textWidth, (gridCols * gridPixelMultiplier) - 50);
  } // function galleryExportToCanvas(mapId)

  $(document).ready(function() {

    {% for map in saved_maps %}
      mapData = "{{ map.mapdata }}";
      mapData = mapData.replaceAll('u&#39;', '"').replaceAll('&#39;', '"');
      try {
        mapData = JSON.parse(mapData);
        galleryDrawGrid({{ map.id }});
        galleryLoadMapFromSavedMapData(mapData, {{ map.id }});
        galleryExportToCanvas({{ map.id }});
      } catch (e) {
        console.log("[WARN] Skipping #{{ map.id }} ({{ map.urlhash }}) - bad JSON")
      }
    {% endfor %}

    $('.start-hidden').hide();

    // Calculate diffs!
    $('.diff').click(function() {


      // This version will fail when the URLhash contains a hyphen:
      // var thisMapUrlhash = $(this).attr('id').split('-').slice(2, 3);
      // Since the id of the button is as follows:
      //    id="diff-a-{{ map.urlhash }}-{{ map.id }}"
      // A more straightforward and correct way to obtain the urlhash
      //    would be to just slice, since the urlhashes always have the same length
      var thisMapUrlhash = $(this).attr('id').slice(7, 15);
      var thisMapId = $(this).attr('id').split('-').slice(3);

      if ($(this).hasClass('diff-a')) {
        $('#diff-map-a').val(thisMapUrlhash);
        $('#diff-map-id-a').val(thisMapId);
      } else if ($(this).hasClass('diff-b')) {
        $('#diff-map-b').val(thisMapUrlhash);
        $('#diff-map-id-b').val(thisMapId);
      }

      if ($('#diff-map-a').val().length > 0 && $('#diff-map-b').val().length > 0) {
        $.get('/save/admin/diff/' + $('#diff-map-a').val() + '/' + $('#diff-map-b').val()).done(function(data) {
          $('#diff-pane').html(data);
        });
      }
    });

    $('.diff-keep').click(function() {
      if ($(this).attr('id') == 'keep-a') {
        var thisMapId = $('#diff-map-id-b').val();
      } else if ($(this).attr('id') == 'keep-b') {
        var thisMapId = $('#diff-map-id-a').val();
      }
      $('#diff-discard').show();
      $('#diff-discard').append('<h5>' + thisMapId + '</h5>');
    });

    {% if is_staff %}
    $('.hide-map').click(function() {
      var hideMapButton = $(this);
      var thisMapId = $(this).attr('id').slice(5);
      $.post('/save/admin/action/', {
        "action": "hide",
        "map": thisMapId
      }).done(function(data) {
        if (data == 'Success') {
          hideMapButton.removeClass('hide-map');
          hideMapButton.removeClass('btn-warning');
          hideMapButton.addClass('btn-success');
          hideMapButton.html('&#10004; Hidden');
        } else {
          hideMapButton.removeClass('btn-warning');
          hideMapButton.addClass('btn-danger');
          hideMapButton.text('Error: Could not hide');
        }
      });
    });

    $('.changetag-map').click(function() {
      var tagMapButton = $(this);
      var thisMapId = $(this).attr('id').split('-').slice(2, 3);
      var tag = $(this).text();

      if ($(this).hasClass('removetag-map')) {
        var action = "removetag";
      } else if ($(this).hasClass('addtag-map')) {
        var action = "addtag";
      }

      $.post('/save/admin/action/', {
        "action": action,
        "map": parseInt(thisMapId),
        "tag": tag
      }).done(function(data) {
        if (data == 'Success') {
          if (action == "addtag") {
            tagMapButton.removeClass('btn-default');
            tagMapButton.removeClass('addtag-map');
            tagMapButton.addClass('btn-primary');
            tagMapButton.addClass('removetag-map');
          } else if (action == "removetag") {
            tagMapButton.removeClass('btn-primary');
            tagMapButton.removeClass('removetag-map');
            tagMapButton.addClass('btn-default');
            tagMapButton.addClass('addtag-map');
          }
        } else {
          tagMapButton.removeClass();
          tagMapButton.addClass('btn-danger');
          tagMapButton.text('Error: Could not change tag: ' + tag);
        }
      })

    });
    {% endif %}

  });

  </script>

  </body>
</html>

