<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Metro Map Maker</title>

    <link rel="icon" href="{% static 'assets/metromapmaker-gallery.ico' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

    body {
      font-family: Helvetica, Arial, sans-serif;
      position: relative;
    }

    .map-link {
      display: inline;
      margin-right: 25px;
    }

    .diff-a, .diff-b {
      display: inline;
    }

    #diff-sidebar {
      position: fixed;
      left: 75%;
      top: 0%;
      background: #eee;
      padding-top: 5px;
      padding-bottom: 5px;
      max-height: 100%;
      overflow-y: auto;
    }

    #diff-pane {
      overflow-y: auto;
    }

    #map-controls {
      position: fixed;
      /* The scrollspy is much more sensitive at the top than the bottom,
        so having the #map-controls at the bottom means I won't accidentally
        de-activate a map I'm trying to work on to see the upper portion.
        Scrolling to see the bottom doesn't have this issue.
      */
      /* appear just above the status bar
         otherwise link previews appear overlaid on the pagination
      */
      bottom: 15px;
      z-index: 999;
      width: 100%;
    }

    #pagination-controls {
      padding-left: 5px;
    }

    .pagination {
      background: #fff;
      margin: 0;
      padding: 5px;
    }

    .map-control {
      background: #fff;
      max-height: 100%;
      padding: 10px;
    }

    .nav-tabs {
      border: 0;
    }

    .vertical-divider {
      border-left: 1px solid #666;
      padding-left: 5px;
    }

    .map-container {
      opacity: .1;
    }

    .active-map {
      opacity: 1;
    }

    hr.map-divider {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @media (max-width: 767px) {
      #diff-sidebar {
        display: none;
      }
    }

    </style>

  </head>

<body data-spy="scroll" data-target="map-controls">

<a name="top"></a>

<div id="main-container" class="container-fluid">

  <div id="map-controls">
    <ul class="nav nav-tabs" role="tablist">
      {% for map in saved_maps %}
        <li id="map-control-{{ map.id }}" class="nav-item map-control {% if not forloop.first %}start-hidden{% endif %}"><a class="nav-link hidden" href="#map-container-{{ map.id }}"><!-- a link with anchor is needed but I don't need it to be visible {{ map.id }}--></a>
        
          <h4 class="map-link"><a href="/admin/map_saver/savedmap/{{ map.id }}/change/" target="_blank">#{{ map.id }}</a> (<a href="/?map={{ map.urlhash }}">https://metromapmaker.com/?map={{ map.urlhash }}</a>) <input type="text" name="map_name" class="map-name" id="map-name-{{ map.id }}" value="{{ map.name }}" placeholder="(unnamed)">
            {% with map.suggest_city as suggested_city %}
              {% if suggested_city %}
                Suggested: {{ suggested_city.0.0 }} (overlap: {{ suggested_city.0.1 }} / this: {{ map.station_count }})
              {% endif %}
            {% endwith %}
          </h4>
          <div class="map-control-buttons">
            <button id="diff-a-{{ map.urlhash }}-{{ map.id }}" class="diff diff-a btn-info">Diff A</button>
            <button id="diff-b-{{ map.urlhash }}-{{ map.id }}" class="diff diff-b btn-primary">Diff B</button>

            {% if is_staff %}
              <button id="hide-{{ map.id }}" class="hide-map btn-warning">Hide</button>
              <a href="{% url 'similar' urlhash=map.urlhash %}"><button class="btn-default">View Similar</button></a>
              {% if similarity_scores %}
                {% for urlhash, score in similarity_scores.items %}
                  {% if urlhash == map.urlhash %}
                    {% widthratio score 1 100 %}% similar by station names
                  {% endif %}
                {% endfor %}
              {% endif %}
              <button id="thumbnail-{{ map.id }}" class="get-thumbnail {% if map.thumbnail %}btn-success{% else %}btn-info{% endif %}">{% if map.thumbnail %}Thumbnail: {% widthratio map.thumbnail|length 1024 1 %}kb{% else %}Generate Thumbnail{% endif %}</button>

              <span class="vertical-divider"></span>
              <!-- <p style="margin-top: 10px;"> -->
                {% for tag in tags %}
                  {% if tag in map.tags.all %}
                    <button id="removetag-map-{{ map.id }}-{{ tag.name }}" class="changetag-map removetag-map btn-primary">{{ tag.name }}</button>
                  {% else %}
                    <button id="addtag-map-{{ map.id }}-{{ tag.name }}" class="changetag-map addtag-map btn-default">{{ tag.name }}</button>
                  {% endif %}
                {% endfor %}
              <!-- </p> -->
            {% endif %}
          </div> <!-- /.map-control-buttons -->
        </li>
      {% endfor %}
    </ul>
    <!-- Pagination -->
    <div id="pagination-controls" class="text-left">
      <div class="pagination">
        {% if headline %}
        <h3>{{ saved_maps|length }} {{ headline }}</h3>
        {% endif %}
        <span class="step-links">
          {% if saved_maps.has_previous %}
              <a href="./1"><button class="btn-primary">First Page</button></a>
              <a href="./{{ saved_maps.previous_page_number }}"><button class="btn-info">Previous Page</button></a>
          {% endif %}

          {% if saved_maps.paginator %}
          <span class="current" style="margin: 10px;">
              <b>Page {{ saved_maps.number }} of {{ saved_maps.paginator.num_pages }} ({{ saved_maps|length }} of {{ maps_total }} maps)</b>
          </span>
          {% endif %}

          {% if saved_maps.has_next %}
              <a href="./{{ saved_maps.next_page_number }}"><button class="btn-info">Next Page</button></a>
              <a href="./{{ saved_maps.paginator.num_pages }}"><button class="btn-primary">Last Page</button></a>
          {% endif %}
        </span>
      </div> <!-- div.pagination -->
    </div> <!-- div#pagination-controls -->
  </div> <!-- /#map-controls -->

  <div id="gallery" class="col-lg-12">

    {% for map in saved_maps %}

        <div id="map-container-{{ map.id }}" class="map-container{% if forloop.first %} active-map{% endif %}">
          <a id="download-link-{{ map.id }}" onClick="galleryDownloadFromCanvas({{ map.id }});" href="#" download="{{ map.urlhash }}.png"><canvas id='metro-map-gallery-canvas-{{ map.id }}' width="1600" height="1600" class="img-responsive map-image"></canvas></a>
          <canvas id="metro-map-thumbnail-canvas-{{ map.id }}" width="120" height="120" class="hidden"></canvas>
          <hr class="map-divider">
        </div>

    {% endfor %}

  </div> <!-- div#gallery -->

  <div id="diff-sidebar" class="col-lg-3">
    <h4 class="text-center" id="diff-sidebar-expand-contract">Calculate Map Difference</h4>
    <div class="diff-sidebar-tools start-hidden">
      <h4>Map A: <input id="diff-map-a" type="text" placeholder="Click 'Diff A' to fill"><input id="diff-map-id-a" type="hidden"></h4>
      <h4>Map B: <input id="diff-map-b" type="text" placeholder="Click 'Diff B' to fill"><input id="diff-map-id-b" type="hidden"></h4>
      <div id="diff-pane"> </div>
      <div class="text-center">
        <button id="keep-a" class="diff-keep btn-info">Keep A</button>
        <button id="keep-b" class="diff-keep btn-primary">Keep B</button>
      </div>
      <div id="diff-discard" class="start-hidden">
        <h4 class="text-center">Maps to Hide from Gallery View</h4>
      </div>
    </div>
  </div> <!-- div#diff-sidebar -->

</div> <!-- #main-container -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script type="text/javascript">

  String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
  };

  var gridSize = 80;
  var preferredGridPixelMultiplier = 20;
  var redrawOverlappingPoints = {};

  function galleryDownloadFromCanvas(mapId) {
    var downloadLink = document.getElementById("download-link-" + mapId);
    var image = document.getElementById("metro-map-gallery-canvas-" + mapId).toDataURL("image/png").replace("image/png", "image/octet-stream");
    downloadLink.setAttribute("href", image);
  }

  function galleryGetMapSize(metroMapObject) {
    highestValue = 0;
    for (var x in metroMapObject) {
        if (metroMapObject.hasOwnProperty(x)) {
          if (parseInt(x) > highestValue) {
            highestValue = parseInt(x);
          }
          for (var y in metroMapObject[x]) {
            if (metroMapObject[x].hasOwnProperty(y)) {
              if (parseInt(y) > highestValue) {
                highestValue = parseInt(y);
              }
            }
          } // for var y
        } // if has x
      } // for var x

    if (highestValue >= 200) {
      gridSize = 240;
    } else if (highestValue >= 160) {
      gridSize = 200;
    } else if (highestValue >= 120) {
      gridSize = 160;
    } else if (highestValue >= 80) {
      gridSize = 120;
    } else {
      gridSize = 80;
    }

  }

  function galleryGetActiveLine(x, y, metroMap) {
    // Given an x, y coordinate pair, return the hex code for the line you're on.
    // Use this to retrieve the line for a given point on a map.
    if (metroMap && metroMap[x] && metroMap[x][y] && metroMap[x][y]["line"]) {
      return metroMap[x][y]["line"];
    } else {
      // 'With the new straight lines replacing the old bubbles system of drawing the maps onto the canvas, you will land here on occasion when the maps reach the borders. (For example, y-80 which does not exist in the 80x80 grid.) Do not panic, instead just keep on keeping on.'
      return false;
    }
  }

  function galleryLoadMapFromSavedMapData(metroMapObject, mapId) {
     for (var x in metroMapObject) {
        if (metroMapObject.hasOwnProperty(x)) {
          for (var y in metroMapObject[x]) {
            if (metroMapObject[x].hasOwnProperty(y)) {
              $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).addClass('has-line');
              $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).addClass('has-line-' + metroMapObject[x][y]['line']);
              $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).css({
                  'background-color': '#' + metroMapObject[x][y]['line']
              });
              if (metroMapObject[x][y]["station"]) {
                $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).addClass('has-station');
                $('#m-' + mapId + 'coord-x-' + x + '-y-' + y).html('<div id="m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"] +'" class="station"></div>');
                if (metroMapObject[x][y]["station"]["transfer"] == 1) {
                  $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('transfer-station');
                }
                if (metroMapObject[x][y]["station"]["lines"] && metroMapObject[x][y]['station']['name']) {
                  for (var z=0; z<metroMapObject[x][y]["station"]["lines"].length; z++) {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('has-line-' + metroMapObject[x][y]["station"]["lines"][z]);
                    // Rail line buttons should use their color for the buttons, too.
                    $('<style>').prop('type', 'text/css')
                    .html('#m-' + mapId + 'rail-line-' + metroMapObject[x][y]["station"]["lines"][z] + ', .has-line-' + metroMapObject[x][y]["station"]["lines"][z] + '{ background-color: #' + metroMapObject[x][y]["station"]["lines"][z] + '; }').appendTo('head');
                  } // for lines
                  if (metroMapObject[x][y]["station"]["orientation"] == '180') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot180');
                  } else if (metroMapObject[x][y]["station"]["orientation"] == '-45') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot-45');
                  } else if (metroMapObject[x][y]["station"]["orientation"] == '45') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot45');
                  } else if (metroMapObject[x][y]["station"]["orientation"] == '135') {
                    $('#m-' + mapId + '-' + metroMapObject[x][y]["station"]["name"]).addClass('rot135');
                  } // if station orientation
                } // if station name, lines
              } // if station
            } // if y
          } // for y in x
        } // if x
      } // for x in map

  } // function galleryLoadMapFromSavedMapData(metroMapObject, mapId)

  function moveLineStroke(ctx, x, y, lineToX, lineToY) {
    ctx.moveTo(x * gridPixelMultiplier, y * gridPixelMultiplier);
    ctx.lineTo(lineToX * gridPixelMultiplier, lineToY * gridPixelMultiplier);
    singleton = false;
  }

  function galleryDrawPoint(ctx, x, y, metroMap) {
    // Draw a single point at position x, y

    // Major difference between galleryDrawPoint() and metromapmaker.js:drawPoint():
    // I need to use triple-equals here instead of double-equals for all comparisons
    // For some reason, a value of "000000" trips these up and leads to
    //  undefined behavior similar to the "erase" bug where a single line
    //  gets painted as nine small connecting singletons
    // This doesn't happen with any other color, and changing the color to 000001
    //  fixes this issue, so it's definitely something to do with how "000000"
    //  evaluates. I don't think this is necessarily a bug in galleryGetActiveLine

    var activeLine = galleryGetActiveLine(x, y, metroMap);

    ctx.beginPath();
    // Making state changes to the canvas is expensive,
    //  so the fewer times I need to update the ctx.strokeStyle, the better
    // but commenting this out fixes the intermittent black lines bug.
    // if (lastStrokeStyle !== activeLine) {
      ctx.strokeStyle = '#' + activeLine;
    //   lastStrokeStyle = activeLine;
    // }

    singleton = true;

    // Diagonals
    if (activeLine === galleryGetActiveLine(x + 1, y + 1, metroMap)) {
      // Direction: SE
      moveLineStroke(ctx, x, y, x+1, y+1);
      if (activeLine != galleryGetActiveLine(x + 1, y, metroMap) && galleryGetActiveLine(x + 1, y, metroMap)) {
        // If this southeast line is adjacent to a different color on its east,
        //  redraw these overlapping points later
        if (!redrawOverlappingPoints[x]) {
          redrawOverlappingPoints[x] = {}
        }
        redrawOverlappingPoints[x][y] = true;
      }
    } if (activeLine === galleryGetActiveLine(x + 1, y - 1, metroMap)) {
      // Direction: NE
      moveLineStroke(ctx, x, y, x+1, y-1);
    } if (activeLine === galleryGetActiveLine(x - 1, y - 1, metroMap)) {
      // Direction: NW
      moveLineStroke(ctx, x, y, x-1, y-1);
    } if (activeLine === galleryGetActiveLine(x - 1, y + 1, metroMap)) {
      // Direction: SW
      moveLineStroke(ctx, x, y, x-1, y+1)
    }

    // Cardinals
    if (activeLine === galleryGetActiveLine(x + 1, y, metroMap)) {
        // Direction: E
        moveLineStroke(ctx, x, y, x+1, y);
    } if (activeLine === galleryGetActiveLine(x - 1, y, metroMap)) {
        // Direction: W
        moveLineStroke(ctx, x, y, x-1, y);
    } if (activeLine === galleryGetActiveLine(x, y + 1, metroMap)) {
        // Direction: S
        moveLineStroke(ctx, x, y, x, y+1);
    } if (activeLine === galleryGetActiveLine(x, y - 1, metroMap)) {
        // Direction: N
        moveLineStroke(ctx, x, y, x, y-1);
    }

    // Doing one stroke at the end once all the lines are known
    //  rather than several strokes will improve performance
    ctx.stroke();

    if (singleton) {
      // Without this, singletons with no neighbors won't be painted at all.
      // So map legends, "under construction", or similar lines should be painted.
      ctx.fillStyle = '#' + activeLine;
      ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .9, 0, Math.PI * 2, true); // Rail-line circle
      ctx.fill();
    }

    ctx.closePath();
  } // drawPoint(ctx, x, y, metroMap)

  function galleryExportToCanvas(metroMap, mapId) {
    var canvas = document.getElementById('metro-map-gallery-canvas-' + mapId);
    var ctx = canvas.getContext('2d', {alpha: false});
    var gridRows = gridSize, gridCols = gridSize;
    // How much larger is the canvas than the grid has in squares?
    // If the grid has 80x80 squares and the canvas is 1600x1600,
    //    then the gridPixelMultiplier is 20 (1600 / 80)
    gridPixelMultiplier = canvas.width / gridCols; // 20

    // Make the background white instead of transparent
    ctx.fillStyle = '#ffffff';
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    ctx.lineCap = 'round';
    ctx.lineWidth = gridPixelMultiplier * 1.175;

    for (var x in metroMap){
      for (var y in metroMap[x]) {
          x = parseInt(x);
          y = parseInt(y);
          if (!Number.isInteger(x) || !Number.isInteger(y)) {
            continue;
          }
          galleryDrawPoint(ctx, x, y, metroMap);
      } // for y
    } // for x

    // Redraw select overlapping points
    // This solves the "Southeast" problem
    //  where if two adjacent lines were heading southeast, they would overlap
    //  in ways that didn't happen for two adjacent lines heading northeast
    var reversed = Object.keys(redrawOverlappingPoints).reverse();
    for (var i=0; i<reversed.length; i++) {
      var x = reversed[i];
      for (var y in redrawOverlappingPoints[x]) {
        x = parseInt(x);
        y = parseInt(y);
        galleryDrawPoint(ctx, x, y, metroMap);
      }
    }
    redrawOverlappingPoints = {};

    // Draw the stations last (and separately), or they will be painted over by the lines themselves.
    ctx.font = '700 20px sans-serif';

    for (var x in metroMap){
      for (var y in metroMap[x]) {
        // "39": {"line": "662c90", "station": {"transfer": 1, "lines": ["662c90"], "name": "Alvarado", "orientation": "0"}}

        var isStation = metroMap[x][y]["station"];
        if (isStation) {
          var isTransferStation = metroMap[x][y]["station"]["transfer"];
        } else {
          var isTransferStation = false;
        }

        if (isStation && isTransferStation) {
          // Outer circle
          ctx.fillStyle = '#000000';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * 1.2, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Inner circle
          ctx.fillStyle = '#ffffff';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .9, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Outer circle
          ctx.fillStyle = '#000000';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .6, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Inner circle
          ctx.fillStyle = '#ffffff';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .3, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          
        } else if (isStation) {
          // Outer circle
          ctx.fillStyle = '#000000';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .6, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();

          // Inner circle
          ctx.fillStyle = '#ffffff';
          ctx.beginPath();
          ctx.arc(x * gridPixelMultiplier, y * gridPixelMultiplier, gridPixelMultiplier * .3, 0, Math.PI * 2, true); 
          ctx.closePath();
          ctx.fill();
        } // if .has-station

        // Write the station name
        if (isStation) {
          ctx.save();
          ctx.fillStyle = '#000000';
          var activeStation = metroMap[x][y]["station"]["name"].replaceAll('_', ' ');

          // Rotate the canvas if specified in the station name orientation
          if (metroMap[x][y]["station"]["orientation"] == '-45') {
            ctx.translate(x * gridPixelMultiplier, y * gridPixelMultiplier);  
            ctx.rotate(-45 * (Math.PI/ 180));
            if (isTransferStation) {
              ctx.fillText(activeStation, 30, 5);
            } else {
              ctx.fillText(activeStation, 15, 5);
            }
          } else if (metroMap[x][y]["station"]["orientation"] == '45') {
            ctx.translate(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.rotate(45 * (Math.PI/ 180));
            if (isTransferStation) {
              ctx.fillText(activeStation, 30, 5);
            } else {
              ctx.fillText(activeStation, 15, 5);
            }
          } else if (metroMap[x][y]["station"]["orientation"] == '135') {
            var textSize = ctx.measureText(activeStation).width;
            ctx.translate(x * gridPixelMultiplier, y * gridPixelMultiplier);
            ctx.rotate(-45 * (Math.PI/ 180));
            if (isTransferStation) {
              ctx.fillText(activeStation, -1 * textSize - 30, 5);
            } else {
              ctx.fillText(activeStation, -1 * textSize - 15, 5);
            }
          } else if (metroMap[x][y]["station"]["orientation"] == '180') {
            // When drawing on the left, this isn't very different from drawing on the right 
            //      with no rotation, except that we measure the text first
            var textSize = ctx.measureText(activeStation).width;
            if (isTransferStation) {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) - (gridPixelMultiplier * 1.5) - textSize, (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            } else {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) - (gridPixelMultiplier) - textSize, (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            }
          } else  {
            if (isTransferStation) {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) + (gridPixelMultiplier * 1.5), (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            } else {
              ctx.fillText(activeStation, (x * gridPixelMultiplier) + gridPixelMultiplier, (y * gridPixelMultiplier) + gridPixelMultiplier / 4);
            }  
          } // else (of if station hasClass .rot-45)

          ctx.restore();
        } // if .has-station (to write the station name)
      } // for y
    } // for x

  } // function galleryExportToCanvas(mapId)

  function galleryDrawThumbnail(metroMap, mapId) {
    var canvas = document.getElementById('metro-map-thumbnail-canvas-' + mapId);
    var ctx = canvas.getContext('2d', {alpha: false});
    var gridRows = gridSize, gridCols = gridSize;

    gridPixelMultiplier = canvas.width / gridCols;

    // Make the background white instead of transparent
    ctx.fillStyle = '#ffffff';
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    ctx.lineCap = 'round';
    ctx.lineWidth = gridPixelMultiplier;

    for (var x in metroMap){
      for (var y in metroMap[x]) {
          x = parseInt(x);
          y = parseInt(y);
          if (!Number.isInteger(x) || !Number.isInteger(y)) {
            continue;
          }
          galleryDrawPoint(ctx, x, y, metroMap);
      } // for y
    } // for x

    // Redraw select overlapping points
    // This solves the "Southeast" problem
    //  where if two adjacent lines were heading southeast, they would overlap
    //  in ways that didn't happen for two adjacent lines heading northeast
    var reversed = Object.keys(redrawOverlappingPoints).reverse();
    for (var i=0; i<reversed.length; i++) {
      var x = reversed[i];
      for (var y in redrawOverlappingPoints[x]) {
        x = parseInt(x);
        y = parseInt(y);
        galleryDrawPoint(ctx, x, y, metroMap);
      }
    }
    redrawOverlappingPoints = {};

    return;

  } // function galleryDrawThumbnail(metroMap, mapId)

  $(document).ready(function() {

    {% for map in saved_maps %}
      mapData = "{{ map.mapdata }}";
      mapData = mapData.replaceAll(" u&#39;", "'").replaceAll("{u&#39;", '{"').replaceAll("\\[u&#39;", '["').replaceAll('&#39;', '"').replaceAll("'", '"').replaceAll('\\\\x', '&#x');
      try {
        mapData = JSON.parse(mapData);
        galleryGetMapSize(mapData);
        var canvas = document.getElementById('metro-map-gallery-canvas-' + {{ map.id }});
        canvas.height = gridSize * preferredGridPixelMultiplier;
        canvas.width = gridSize * preferredGridPixelMultiplier;
        galleryExportToCanvas(mapData, {{ map.id }});
        galleryDrawThumbnail(mapData, {{ map.id }});
      } catch (e) {
        console.log("[WARN] Skipping #{{ map.id }} ({{ map.urlhash }}) - bad JSON: " + e)
      }
    {% endfor %}

    $('.start-hidden').hide();

    // Expand/contract the diff sidebar
    $('#diff-sidebar-expand-contract').click(function() {
      if ($(".diff-sidebar-tools").is(':visible')) {
        $('.diff-sidebar-tools').hide();
      } else {
        $('.diff-sidebar-tools').show();
      }
    });

    // Calculate diffs!
    $('.diff').click(function() {


      // This version will fail when the URLhash contains a hyphen:
      // var thisMapUrlhash = $(this).attr('id').split('-').slice(2, 3);
      // Since the id of the button is as follows:
      //    id="diff-a-{{ map.urlhash }}-{{ map.id }}"
      // A more straightforward and correct way to obtain the urlhash
      //    would be to just slice, since the urlhashes always have the same length
      var thisMapUrlhash = $(this).attr('id').slice(7, 15);
      var thisMapId = $(this).attr('id').split('-').slice(3);

      if ($(this).hasClass('diff-a')) {
        $('#diff-map-a').val(thisMapUrlhash);
        $('#diff-map-id-a').val(thisMapId);
      } else if ($(this).hasClass('diff-b')) {
        $('#diff-map-b').val(thisMapUrlhash);
        $('#diff-map-id-b').val(thisMapId);
      }

      if ($('#diff-map-a').val().length > 0 && $('#diff-map-b').val().length > 0) {
        $.get('/admin/diff/' + $('#diff-map-a').val() + '/' + $('#diff-map-b').val()).done(function(data) {
          $('#diff-pane').html(data);
        });
      }
    });

    $('.diff-keep').click(function() {
      if ($(this).attr('id') == 'keep-a') {
        var thisMapId = $('#diff-map-id-b').val();
      } else if ($(this).attr('id') == 'keep-b') {
        var thisMapId = $('#diff-map-id-a').val();
      }
      $('#diff-discard').show();
      $('#diff-discard').append('<h5>' + thisMapId + '</h5>');
    });

    {% if is_staff %}
    $('.hide-map').click(function() {
      var hideMapButton = $(this);
      var thisMapId = $(this).attr('id').slice(5);
      $.post('/admin/action/', {
        "action": "hide",
        "map": thisMapId
      }).done(function(data) {
        if (data == 'Success') {
          if (hideMapButton.text() == 'Hide') {
            hideMapButton.removeClass('btn-warning');
            hideMapButton.addClass('btn-success');
            hideMapButton.html('&#10004; Hidden');
          } else {
            hideMapButton.addClass('btn-warning');
            hideMapButton.removeClass('btn-success');
            hideMapButton.text('Hide');
          }
        } else {
          hideMapButton.removeClass('btn-warning');
          hideMapButton.addClass('btn-danger');
          hideMapButton.text('Error: Could not hide');
        }
      });
    });

    function reduceColorDepth(canvas) {
      function nearest(x, a) {
          // will round down to nearest of a possibilities
          // in the range 0 <= x <= 255
          return Math.floor(x / (255 / a)) * (255 / a);
      }
      canvas = document.getElementById(canvas);
      var ctx = canvas.getContext('2d', {alpha: false});
      var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height)
      var data = imageData.data;
      // 8-bit: rrr ggg bb
      // Strictly speaking, I don't *need* to have it be 8-bit; 9-bit is fine.
      //  and this way, the blues won't be washed out
      for(var i = 0; i < data.length; i += 4) {
          data[i]     = nearest(data[i],     8); // set value to nearest of 8 possibilities
          data[i + 1] = nearest(data[i + 1], 8);
          data[i + 2] = nearest(data[i + 2], 8);
      }
      ctx.putImageData(imageData, 0, 0);
    }

    $('.get-thumbnail').click(function() {
      var getThumbnailButton = $(this);
      var thisMapId = $(this).attr('id').split('-').slice(1, 2);

      if (getThumbnailButton.text() == 'Generate Thumbnail') {
        // No thumbnail exists -> generate one
        reduceColorDepth('metro-map-thumbnail-canvas-' + thisMapId);
        var base64thumbnailData = document.getElementById('metro-map-thumbnail-canvas-' + thisMapId).toDataURL();
      } else {
        // Thumbnail exists -> delete it
        base64thumbnailData = '';
      }

      $.post('/admin/action/', {
        "action": "thumbnail",
        "map": parseInt(thisMapId),
        "data": base64thumbnailData,
      }).done(function(data) {
        if (data == 'Success') {
          if (getThumbnailButton.text() == 'Generate Thumbnail') {
            getThumbnailButton.addClass('btn-success');
            getThumbnailButton.removeClass('btn-info');
            getThumbnailButton.text('Thumbnail: ' + Math.round(base64thumbnailData.length / 1024) + 'kb');
          } else {
            getThumbnailButton.removeClass('btn-success');
            getThumbnailButton.addClass('btn-info');
            getThumbnailButton.text('Generate Thumbnail');
          }
        }
      })
    }); // .get-thumbnail.click()

    $('input.map-name').change(function() {
      var mapNameInput = $(this);
      var thisMapId = $(this).attr('id').split('-').slice(2, 3);

      $.post('/admin/action/', {
        "action": "name",
        "map": parseInt(thisMapId),
        "name": mapNameInput.val()
      }).done(function(data) {
        if (data == 'Success') {
          if (mapNameInput.val().length > 0) {
            mapNameInput.addClass('btn-success');
          } else {
            mapNameInput.removeClass('btn-success');
          }
        }
      });

    }); // input.map-name.click()

    $('.changetag-map').click(function() {
      var tagMapButton = $(this);
      var thisMapId = $(this).attr('id').split('-').slice(2, 3);
      var tag = $(this).text();

      if ($(this).hasClass('removetag-map')) {
        var action = "removetag";
      } else if ($(this).hasClass('addtag-map')) {
        var action = "addtag";
      }

      $.post('/admin/action/', {
        "action": action,
        "map": parseInt(thisMapId),
        "tag": tag
      }).done(function(data) {
        if (data == 'Success') {
          if (action == "addtag") {
            tagMapButton.removeClass('btn-default');
            tagMapButton.removeClass('addtag-map');
            tagMapButton.addClass('btn-primary');
            tagMapButton.addClass('removetag-map');
          } else if (action == "removetag") {
            tagMapButton.removeClass('btn-primary');
            tagMapButton.removeClass('removetag-map');
            tagMapButton.addClass('btn-default');
            tagMapButton.addClass('addtag-map');
          }
        } else {
          tagMapButton.removeClass();
          tagMapButton.addClass('btn-danger');
          tagMapButton.text('Error: Could not change tag: ' + tag);
        }
      })

    });
    {% endif %} {# is_staff #}

  });

    $('body').scrollspy({ target: '#map-controls' });

    {% for map in saved_maps %}
    $('#map-control-{{ map.id }}').on('activate.bs.scrollspy', function () {
      $('.map-control').hide();
      $('#map-control-{{ map.id }}').show();
      $('.map-container').removeClass('active-map');
      $('#map-container-{{ map.id }}').addClass('active-map');
    });
    
    {% endfor %}

    document.onkeydown = arrowKeySnap;

    function arrowKeySnap(event) {
      event = event || window.event;

      if (event.keyCode == 38 || event.keyCode == 40) {
        mapContainers = document.getElementsByClassName('map-container');
        for (var m=0; m<mapContainers.length; m++) {
          if (mapContainers[m].classList.value.indexOf('active-map') >= 0) {
            // Break out once we have the active map; we will use that index to find the previous/next anchor
            break;
          } // if active-map
        } // for mapContainers
      }

      if (event.keyCode == 38) {
        // Up arrow
        if (m > 0) {
          event.preventDefault(); // otherwise arrow up will scroll put the new mapContainer just out of active status (scrolling down is fine); another option is to use window.location.href
          // window.location.href = '#' + document.getElementById(mapContainers[m - 1].id);
          document.getElementById(mapContainers[m - 1].id).scrollIntoView();
        }
      }
      else if (event.keyCode == 40) {
        // Down arrow
        if (m < mapContainers.length - 1) {
         event.preventDefault();
         // window.location.href = '#' + document.getElementById(mapContainers[m + 1].id);
         document.getElementById(mapContainers[m + 1].id).scrollIntoView();
        }
      }
    } // arrowKeySnap(event)

  </script>

  </body>
</html>

