<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Metro Map Maker</title>

    <link rel="icon" href="{% static 'metromapmaker-gallery.ico' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

    body {
      font-family: Helvetica, Arial, sans-serif;
    }

    #additional-options {
      margin-top: 10px;
    }

    </style>

  </head>

<body>

<div id="main-container" class="container-fluid">

  <h2>
    Maps created
    <span id="time-period">by day</span>,
    <span id="start-date"></span> &mdash;
    <span id="end-date"></span>
    (<span id="number-of-maps"></span> maps in <span id="number-of-days"></span> days)
  </h2>
  
  <div class="col-lg-8">
    <canvas id="chart" width="900" height="600"></canvas>
  </div>

  <div id="controls">
    
    <div>
      <button id="by-day" class="btn btn-info by-timeperiod">Day</button>
      <button id="by-week" class="btn btn-info by-timeperiod">Week</button>
      <button id="by-month" class="btn btn-info by-timeperiod">Month</button>
      <button id="by-weekday" class="btn btn-info by-timeperiod">Weekday</button>
    </div>

    <div>
      <h4>Between dates</h4>
      <p>
        <label for="between-dates-start">Start date</label>
        <input id="between-dates-start" type="date" class="between-dates">
      </p>
      <p>
        <label for="between-dates-end">End date</label>
        <input id="between-dates-end" type="date" class="between-dates">
      </p>

      <select id="preset-date-options" name="preset-date-options">
        <option>--------------------</option>
        <option value="30">Last 30 days</option>
        <option value="90">Last 90 days</option>
      </select>
    </div>

    <div id="additional-options">
      <p>
        <input type="checkbox" id="include-visible" name="include-visible">
        <label for="include-visible">Include visible maps</label>
        <h5>Sep 5, 2017: Launch</h5>
        <!-- Maps per date before Sep 12, 2018 are best-guess based on commits of maps in v1 of the gallery -->
        <h5>Sep 12, 2018: Added created_at field</h5>
      </p>
    </div>

  </div>

  
</div> <!-- #main-container -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>

  <script type="text/javascript">

    var timePeriod = 'day';
    var startDate;
    var endDate;
    var includeVisible;
    var chart;

    function getMapsByDate(startDate, endDate) {
      $.post("", {
        "start_date": startDate,
        "end_date": endDate,
        "group_by": timePeriod,
        "visible": includeVisible
      }).done(function(data) {
        // console.log("data is: " + data);
        data = JSON.parse(data)
        for (datum in data["mapsByDate"]) {
          if (timePeriod != 'weekday') {
            data["mapsByDate"][datum]['x'] = moment(data["mapsByDate"][datum]['x']).toISOString();
          }
        }
        for (datum in data["visibleMapsByDate"]) {
          if (timePeriod != 'weekday') {
            data["visibleMapsByDate"][datum]['x'] = moment(data["visibleMapsByDate"][datum]['x']).toISOString();
          }
        }
        chart = drawChart(data["mapsByDate"], data["visibleMapsByDate"])
        setLegend(data["startDate"], data["endDate"], data["numberOfMaps"], data["numberOfDays"])
      });
    } // getMapsByDate()

    function setLegend(startDate, endDate, numberOfMaps, numberOfDays) {
      document.getElementById('start-date').innerText = moment.utc(startDate, "MMMM D YYYY, h:mm a").format("MMM YYYY");
      document.getElementById('end-date').innerText = moment.utc(endDate, "MMMM D YYYY, h:mm a").format("MMM YYYY");
      document.getElementById('number-of-maps').innerText = numberOfMaps;
      document.getElementById('number-of-days').innerText = numberOfDays;
    } // setLegend(startDate, endDate, numberOfDays)

    function drawChart(allMaps, visibleMaps) {
      var canvas = document.getElementById('chart');
      var ctx = canvas.getContext('2d', {alpha: false});

      data = {
        "labels": [],
        "datasets": [{
          "label": "Maps created",
          "data": allMaps,
          "borderColor": "#bd1038",
          "backgroundColor": "transparent"
        }]
      }

      if (includeVisible) {
        data["datasets"].push({
          "label": "Visible maps",
          "data": visibleMaps,
          "borderColor": "#0896d7",
          "backgroundColor": "transparent"
        })
      }

      if (timePeriod == 'weekday') {
        xAxis = {
          type: 'category',
          labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        }
      } else {
        xAxis = {
          type: 'time',
          time: {
            unit: timePeriod
          }
        }
      } // else (of if timePeriod == weekday)

      options = {
        scales: {
          xAxes: [xAxis]
        },
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {

              var label = data.datasets[tooltipItem.datasetIndex].label || '';
              if (label) {
                label += ': ';
              }

              if (tooltipItem.datasetIndex == 1) {
                // What percentage of maps are visible vs the whole?
                var totalMaps = allMaps[tooltipItem.index]["y"];
                label += tooltipItem.yLabel;
                label += " (" + Math.round(tooltipItem.yLabel / totalMaps * 100) + "%)";
              } else {
                label += tooltipItem.yLabel;
              }
              return label;
            } // label:
          } // callbacks:
        } // tooltips:
      }; // options

      if (chart) {
        chart.destroy();
      }

      var mapsCreatedByDate = new Chart(ctx, {
        "type": 'line',
        "data": data,
        "options": options
      });
      return mapsCreatedByDate;
    } // drawChart(allMaps, visibleMaps)

    $(document).ready(function() {
      var endDate = moment().toISOString().split('T')[0];
      var startDate = moment().subtract(30, 'days').toISOString().split('T')[0];
      $('#between-dates-start').val(startDate);
      $('#between-dates-end').val(endDate)
      getMapsByDate(startDate, endDate);
    });

    $('#include-visible').change(function() {
      includeVisible = $(this).is(':checked');
    })

    $(".by-timeperiod").click(function() {
      var startDate = $('#between-dates-start').val();
      var endDate = $('#between-dates-end').val();
      timePeriod = $(this).attr('id').split('-').slice(1);
      document.getElementById('time-period').innerText = 'by ' + timePeriod;
      getMapsByDate(startDate, endDate);
    });

    $(".between-dates").change(function() {
      var startDate = $('#between-dates-start').val();
      var endDate = $('#between-dates-end').val();
      if (startDate && endDate) {
        getMapsByDate(startDate, endDate)
        $('#preset-date-options').val("--------------------")
      }
    });

    $('#preset-date-options').change(function() {
      if (typeof parseInt($(this).val()) === "number") {
        startDate = moment().subtract(parseInt($(this).val()), 'days').format('YYYY-MM-DD');
        endDate = moment().format('YYYY-MM-DD');
        $('#between-dates-start').val(startDate);
        $('#between-dates-end').val(endDate);
        getMapsByDate(startDate, endDate);
      }
    });

  </script>

  </body>
</html>
