<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Here are some of my favorite maps created by MetroMapMaker.com visitors like you! Click any map to begin remixing it!">

    <meta property="og:title" content="Metro Map Maker Gallery">
    <meta property="og:site_name" content="Metro Map Maker">
    <meta property="og:url" content="https://metromapmaker.com/gallery/">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Here are some of my favorite maps created by MetroMapMaker.com visitors like you! Click any map to begin remixing it!">
    <meta property="og:image" content="{% static 'assets/metromapmaker.png' %}?version=2">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://metromapmaker.com">
    <meta name="twitter:creator" content="@svthmc">
    <meta name="twitter:title" content="Metro Map Maker">
    <meta name="twitter:description" content="Here are some of my favorite maps created by MetroMapMaker.com visitors like you! Click any map to begin remixing it!">
    <meta name="twitter:image:src" content="{% static 'assets/metromapmaker.png' %}?version=2">

    <title>Metro Map Maker Gallery</title>

    <link rel="icon" href="{% static 'assets/favicon.ico' %}?version=2">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}?version=20200215">

  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-24QX9VFLRV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-24QX9VFLRV');
  </script>

<body>

<a name="top"></a>

<nav class="visible-xs visible-sm sticky">

  <ul class="nav nav-pills nav-justified">
    <li role="presentation"><a href="#real-maps"><b>Real maps</b></a></li>
    <li role="presentation"><a href="#speculative-maps"><b>Speculative maps</b></a></li>
    <li role="presentation"><a href="#imaginary-maps"><b>Imaginary maps</b></a></li>
  </ul>

</nav>

<div class="container-fluid">
  <div class="col-sm-10 col-sm-offset-1">
  <!-- Start editing! Your content goes below -->

    <h2><span class="M">M</span>etro <span class="M">M</span>ap <span class="M">M</span>aker Gallery</h2>
    <h4>Here are some of my favorite maps created by MetroMapMaker.com visitors like you! <b>Click any map to begin remixing it!</b></h4>

    <a name="favorite-maps" class="anchor"></a>
    <hr>

    <h3>My Favorites</h3>
    <h4>Just a few of my favorite maps created by MetroMapMaker.com visitors. Some real, some speculative, some imaginary. A new selection every day.</h4>
    <div id="favorite" class="text-center">
      <div class="row">

        {% for thumbnail in favorite %}
        <div class="col-sm-2 col-md-1pt5">
          <a href="/?map={{ thumbnail.urlhash }}">
            <img src="{{ thumbnail.thumbnail }}" class="img-responsive" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
            <h4>{{ thumbnail.name }}</h4>
          </a>
        </div>
        {% endfor %} 

      </div>
    </div> <!-- /#favorite -->

    <a name="real-maps" class="anchor"></a>
    <hr>

    <h3>Real Cities' Metro Maps, A-Z</h3>
    <h4>Real metro maps as they exist now. A great starting point for your remix! To see how people have remixed these maps, see <a href="#speculative-maps">speculative maps</a>.</h4>
    <div id="real" class="text-center">
      <div class="row">

        {% for thumbnail in real %}
        <div class="col-sm-2 col-md-1pt5">
          <a href="/?map={{ thumbnail.urlhash }}">
            <img src="{{ thumbnail.thumbnail }}" class="img-responsive" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
            <h4>{{ thumbnail.name }}</h4>
          </a>
        </div>
        {% endfor %} 

      </div>
    </div> <!-- /#real -->

    <a name="speculative-maps"></a>
    <hr>

    <h3>Speculative Metro Maps, A-Z</h3>
    <h4>Real cities, not-yet-real maps. But why not?</h4>
    <div id="speculative" class="text-center">
      <div class="row">

        {% comment %}

        This is now deferred until page fully loads & added in with Javascript, see below.

        <!-- {% for thumbnail in speculative %}
        <div class="col-sm-2 col-md-1pt5">
          <a href="/?map={{ thumbnail.urlhash }}">
            <img src="{{ thumbnail.thumbnail }}" class="img-responsive" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
            <h4>{{ thumbnail.name }}</h4>
          </a>
        </div>
        {% endfor %}  -->

        {% endcomment %}

      </div>
    </div> <!-- /#speculative -->

    <a name="imaginary-maps"></a>
    <hr>

    <h3>Maps of places that don't exist</h3>
    <h4>Maps of imaginary places (or just maybe of real places I couldn't find any info about)</h4>
    <h4>If you know where these maps refer to, please <a href="mailto:hello@shannonvturner.com?subject=Metro+Map+Maker">let me know!</a></h4>
    <div id="unknown" class="text-center">
      <div class="row">

        {% comment %}

        This is now deferred until page fully loads & added in with Javascript, see below.

        <!-- {% for thumbnail in unknown %}
        <div class="col-sm-2 col-md-1pt5">
          <a href="/?map={{ thumbnail.urlhash }}">
            <img src="{{ thumbnail.thumbnail }}" class="img-responsive" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
            <h4>{{ thumbnail.name }}</h4>
          </a>
        </div>
        {% endfor %} -->

        {% endcomment %}

      </div>
    </div> <!-- /#unknown -->

    <hr>

    <h4>Amazing, right? Click any map to begin remixing it! Save and share your creations with friends - every map gets its own unique URL. Download any map as an image and post it on social media. Make your Metro dreams come true!</h4>

    <p><em>Metro Map Maker was inspired by <a href="https://www.wired.com/2014/01/fantasy-transit-maps/" target="_blank" rel="noopener">13 Fake Public Transit Systems We Wish Existed (Wired)</a> and <a href="https://io9.gizmodo.com/5513914/speculative-subway-maps-from-our-underground-future/" target="_blank" rel="noopener">Speculative Subway Maps From Our Underground Future (Gizmodo)</a></em></p>

    <!-- Add some extra spacing so the above message is visible on mobile -->
    <h1 class="visible-sm visible-xs">&nbsp;</h1>

  <!-- End editing! Your content goes above -->
  </div> <!-- /.col-sm-10.col-sm-offset-1 -->
</div>

<script type="text/javascript" async="">

    // Improve initial page load speed
    // by loading the favorite / real at the template level (immediately)
    // and deferring the speculative/unknown until later
    function thumbnailLoader() {
      var tag = this.responseURL.split('/').slice(-2, -1)
      document.getElementById(tag).children[0].innerHTML = this.responseText
    }

    function fetchMaps(tag) {
      var data = new XMLHttpRequest;
      data.addEventListener('load', thumbnailLoader)
      data.open('GET', '/admin/thumbnail/' + tag + '/')
      data.send()
    }

    tags = ['speculative', 'unknown']

    for (var i=0; i<tags.length; i++) {
      fetchMaps(tags[i])
    }

</script>

  </body>
</html>