{% for thumbnail in thumbnails %}
<div class="col-sm-2 col-md-1pt5">
  <a href="/map/{{ thumbnail.urlhash }}">
    {% if thumbnail.thumbnail %}
      <img src="{{ thumbnail.thumbnail }}" class="img-responsive" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
    {% elif thumbnail.thumbnail_png %}
      <img src="{{ thumbnail.thumbnail_png.url }}" class="img-responsive" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
    {% elif thumbnail.thumbnail_svg %}
      <img src="{{ thumbnail.thumbnail_svg.url }}" width="120" height="120" alt="{{ thumbnail.name }}" title="{{ thumbnail.name }}">
    {% endif %}
    <h4>{{ thumbnail.name }}</h4>
  </a>
</div>
{% endfor %} 